body {
	margin: 0;
	background-color: #eee;
	font-family: "trebuchet MS", tahoma, verdana, arial, helvetica, sans-serif;
}
.errCls {
	color: #ff0000;
	font-weight: bold;
	font-size: .7em !important;
	font-family: Tahoma;
}
.infoCls {
	color: #00689d;
	font-weight: bold;
	font-size: .7em !important;
	font-family: Tahoma;
}
a {
	padding: 1px;
	color: #0063dc;
	text-decoration: none;
	font-size: 0.8em;
}
a:hover {
	background-color: #0063dc;
	color: #ffffff;
	text-decoration: underline;
}
a img {
	border: 0;
}
.content {
	margin: auto;
	padding: 20px;
	width: 350px;
	border: 10px solid #ccc;
	background-color: white;
	text-align: left;
}
#bookmarkheader {
	position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
	color: black;
}
.login {
	margin: auto;
	text-align: left;
}
.prompt {
	text-align: left;
}
#wrapper {
	margin: 0;
	padding: 0;
	text-align: center;
}
#content {
	position: absolute;
	top: 25%;
	left: 0%;
	width: 100%;
	color: black;
}
.labels {
	display: block;
	float: left;
	width: 100px;
}
.inputbox {
	display: block;
	float: left;
	width: 230px;
}
.errorprompt {
	visibility: hidden;
	color: red;
	font-weight: bold;
}
#LoginButton {
	width: 63px;
}
#usrFeedback {
	margin-left: 12px;
}
.loadingFB {
	padding-left: 16px;
	background: url('../images/loading.gif') no-repeat top left;
	color: black;
}
.errorFB {
	padding-left: 0;
	background: none;
	color: red;
}
.infoFB {
	color: green;
}
.content p {
	margin: 7px 0 13px;
}
.shortcuts {
	margin-top: 10px;
	padding: 10px 0 0;
	border-top: 1px dashed #CCCCCC;
}
.content input {
	font-size: 14px;
}
.companylogo {
	margin: 0 0 10px;
}
.content h1 {
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 1em;
}
.content span {
	font-size: 0.8em;
}