.notify-image {
	float: left;
	clear: left;
}
.notify-image1 {
	float: left;
	clear: left;
	padding-bottom: 10px;
	font-weight: bold;
}
.notify-image img {
	border: none;
}
.wrapperFormenu {
	/*border-bottom:thin solid #ebebeb;*/
	float: left;
	clear: both;
	/*padding-left: 4px;*/
	padding-top: 5px;
	padding-bottom: 2px;
	/*padding-bottom:5px;*/
	width: 245px;
	/*background:none repeat scroll 0 0 #F0F0F0;*/
}
notify-uppertext {
	float: left;
	width: 70%;
	white-space: normal;
	font-weight: bold !important;
}
.notifycls {
	position: absolute;
	width: 17px;
	height: 17px;
	background: url("../images/email.gif") no-repeat scroll 0 0 transparent;
}
.notification-menu .x-btn-center,
.notification-menu .x-btn-left,
.notification-menu .x-btn-right {
	background: none;
}
.notification-menu .x-btn-left {
	display: none;
}
.notification-menu .x-btn-center button {
	/*width:88px;*/
	height: 24px;
}
.notification-menu1 .x-btn-center,
.notification-menu1 .x-btn-left,
.notification-menu1 .x-btn-right {
	background: none;
}
.notification-menu1 .x-btn-left {
	display: none;
}
.notification-menu1 .x-btn-center button {
	/*width:57px;*/
	height: 24px;
}
.notification-menu2 .x-btn-center,
.notification-menu2 .x-btn-left,
.notification-menu2 .x-btn-right {
	background: none;
}
.notification-menu2 .x-btn-left {
	display: none;
}
.notification-menu2 .x-btn-center button {
	/*width:57px;*/
	height: 24px;
}
.notification-menu3 .x-btn-center,
.notification-menu3 .x-btn-left,
.notification-menu3 .x-btn-right {
	background: none;
}
.notification-menu3 .x-btn-left {
	display: none;
}
.notification-menu3 .x-btn-center button {
	/*width:46px;*/
	height: 24px;
}
#shortcutmenu1 .x-btn-menu-arrow-wrap .x-btn-center button {
	background-position: -1px 3px;
}
/*#shortcutmenu1 .x-menu li.x-menu-sep-li{
clear:both;
}*/

#shortcutmenu1 .x-menu-item-icon {
	display: none;
}
.notify-image {
	float: left;
	clear: left;
}
.notify-image img {
	border: none;
}
.notify-text {
	float: left;
	padding: 5px 5px 5px 5px;
	width: 95%;
	text-align: justify;
	white-space: normal;
}
.wrapperForMenu {
	/*border-bottom:thin solid #ebebeb;*/
	float: left;
	clear: both;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
}
.wrapperForMenu a:link,
.wrapperForMenu a:visited {
	color: #083772;
}
.wrapperForMenu a:hover {
	color: #456;
	text-decoration: underline !important;
}
#shortcutmenu2 .x-btn-menu-active button {
	/*margin-left: -1px;*/
	/*        margin-top:1px;*/
	z-index: 170000;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #718BB7;
	background: white !important;
}
#shortcutmenu3 .x-btn-menu-active button {
	/*        margin-top:1px;*/
	z-index: 170000;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	/*margin-left: -1px;*/
	border-color: #718BB7;
	background: white !important;
}
#shortcutmenu4 .x-btn-menu-active button {
	/*        margin-top:1px;*/
	z-index: 170000;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	/*margin-left: -1px;*/
	border-color: #718BB7;
	background: white !important;
}
#shortcutmenu6 .x-btn-menu-active button {
	/*        margin-top:1px;*/
	z-index: 170000;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	/*margin-left: -1px;*/
	border-color: #718BB7;
	background: white !important;
}
#shortcutmenu1 .x-btn-menu-active button {
	z-index: 170000;
	margin-top: -4px;
	margin-left: -0px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #718BB7;
	background: white !important;
}
.notification-menu .x-btn-center {
	padding: 0px !important;
}
.notification-menu .x-btn-center button {
	position: relative;
	z-index: 100;
	/*width:30px;*/
	margin-top: -4px;
	outline: none;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dfe8f6;
}
.notification-menu1 .x-btn-center button {
	position: relative;
	/*margin-left: -2px;*/
	z-index: 100;
	/*color: #083772;background:#DFE8F6  no-repeat center center;*/
	margin-top: -4px;
	outline: none;
	/*left:1px;*/
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dfe8f6;
}
.notification-menu2 .x-btn-center button {
	position: relative;
	z-index: 100;
	margin-top: -4px;
	outline: none;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dfe8f6;
	background: #DFE8F6 no-repeat center center;
	color: #083772;
}
.notification-menu3 .x-btn-center button {
	position: relative;
	z-index: 100;
	margin-top: -4px;
	outline: none;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dfe8f6;
	background: #DFE8F6 no-repeat center center;
	color: #083772;
}
.mainMenu1 {
	top: 30px !important;
	margin-top: -3px;
	margin-left: 14px;
	background: #FFFFFF;
	/* width: 250px !important;*/
}
.mainMenu2 {
	top: 30px !important;
	/* height: 450px !important;*/
	overflow-x: hidden !important;
	margin-top: -3px;
	margin-left: 14px;
	background: #FFFFFF;
	/* width: 250px !important;*/
}
.mainMenu3 {
	top: 30px !important;
	margin-top: -3px;
	margin-left: 14px;
	background: #FFFFFF;
	/* width: 250px !important;*/
}
.mainMenu6 {
	top: 30px !important;
	margin-top: -3px;
	margin-left: 14px;
	background: #FFFFFF;
	/* width: 250px !important;*/
}
.mainMenu4 {
	top: 30px !important;
	margin-top: -3px;
	margin-left: -14px;
	background: #FFFFFF;
	/*padding:0px !important;*/
	/* width: 250px !important;*/
}
.mainMenu4 .x-menu {
	margin-left: -16px !important;
}
#shortcutmenu1 .x-btn-menu-arrow-wrap {
	display: none;
}
#shortcutmenu2 .x-btn-menu-arrow-wrap {
	display: none;
}
#shortcutmenu3 .x-btn-menu-arrow-wrap {
	display: none;
}
#shortcutmenu4 .x-btn-menu-arrow-wrap {
	display: none;
}
#shortcutmenu6 .x-btn-menu-arrow-wrap {
	display: none;
}
button {
	outline: none;
}
#shortcutmenu2 .x-btn-menu-arrow-wrap .x-btn-center button {
	background-position: -1px 3px;
}
#shortcutmenu2 .x-menu-item-icon {
	display: none;
}
.notification-menu1 .x-btn-center {
	padding: 0px !important;
}
.notification-menu2 .x-btn-center {
	padding: 0px !important;
}
.notification-menu3 .x-btn-center {
	padding: 0px !important;
}
.notification-menu5 .x-btn-center,
.notification-menu5 .x-btn-left,
.notification-menu5 .x-btn-right {
	background: none;
}
.notification-menu5 .x-btn-left {
	display: none;
}
.notification-menu5 .x-btn-center button {
	height: 24px;
}
#shortcutmenu5 .x-btn-menu-arrow-wrap .x-btn-center button {
	background-position: -1px 3px;
}
#shortcutmenu5 .x-menu-item-icon {
	display: none;
}
#shortcutmenu5 .x-btn-menu-active button {
	z-index: 170000;
	margin-top: -4px;
	margin-left: -0px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #718BB7;
	background: white !important;
}
.notification-menu5 .x-btn-center {
	padding: 0px !important;
}
.notification-menu5 .x-btn-center button {
	position: relative;
	z-index: 100;
	/*width:30px;*/
	margin-top: -4px;
	outline: none;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dfe8f6;
}
.mainMenu5 {
	top: 30px !important;
	margin-top: -3px;
	margin-left: 14px;
	background: #FFFFFF;
	/* width: 250px !important;*/
}
.changedtop {
    top: 56px !important;
}

#shortcutmenu5 .x-btn-menu-arrow-wrap {
	display: none;
}
.x-toolbar input,
.x-toolbar span {
	margin-left: 0px !important;
}

/*.userprofile_contact{
    font-size : 11px;
    color : #00156E !important;
}
.userprofile_contact_value{
    font-size : 12px;
}
.form-item-space{
    padding : 5px;
    margin-bottom : 0px;
}*/
.mycategory-collapse{
    background-position : 0 -240px;
}

.collapsed-header-title{
    background:transparent none repeat scroll 0%;
    border:0pt none;
    color:#15428B;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    margin : 3px 0 0 4px;
	text-align: right;
}

.widgets{ width:100%; float:left; padding:0px; margin:0px;height:100%; }
.widgets ul { width:100%; padding:0px; margin:6px 0 0 0px; float:left; list-style:none; list-style-type:none;}
.widgets ul li{ padding:7px; margin:0px 0px;float:left;}
.widget_name{
    color:#949494;
    font-size:12px;
    text-align:center;
    width: auto;
}
.left-portletcls{
    padding: 0 0 10px 10px;
}
/*.dashpwnd {
    background: transparent url(../images/dashboard-tbar.png);
    width:65px;
    height:63px;
    cursor : pointer;
}

*/.portletcls{
	padding: 10px 0 0 10px;
}/*

.padd{
    padding-left:20px;
}
.library_drag {
    background-position:534px 0px !important;

}*/
/*.DSBMyWorkspaces{
    background-position:842px 0px !important;

}
.DSBAssignedCase{
    background-position:285px 0px !important;

}
.DSBPendingCase{
    background-position:216px 0px !important;

}

.crmfacilityManagement{
    background-position:75px 0px !important;
}

.DSBAdvanceSearch{
    background-position:146px 0px !important;

}
.crm_custom_reports{
    background-position:355px 0px !important;

}

.campaign_drag{
    background-position:-142px 0px !important;
}
.lead_drag{
    background-position:-72px 0px !important;
}
.account_drag{
    background-position:1058px 0px !important;
}
.contact_drag{
    background-position:1268px 0px !important;
}
.opportunity_drag{
    background-position:-6px 0px !important;
}
.case_drag{
    background-position:982px 0px !important;
}
.activity_drag{
    background-position:1126px 0px !important;
}
.product_drag{
    background-position:1194px 0px !important;
}
.crmmodule_drag{
    background-position:776px 0px !important;
}
.crm_admin_widget{
    background-position:564px 0px !important;
}
.top_activity_drag{
    background-position:424px 0px !important;
}
.reports_drag{
    background-position:916px 0px !important;
}

.campaign_reports_drag{
    background-position:2182px 0px !important;
}

.marketing_drag{
    background-position:2114px 0px !important;
}*/






/*.DSBTaskList{
    background-position:205px 0px !important;
}

.DSBTopWorkspaces{
    background-position:1256px 0px !important;
}

.knowledgechamps_drag{
       background-position:1066px 0px !important;
}

.issueTracker_drag{
    background-position:599px 0px !important;
}

.googleMap_drag{
    background-position:732px 0px !important;
}

.DSBSpotlight{
    background-position:1192px 0px !important;
}

.rssFeed_drag{
    background-position:398px 0px !important;
}
.yahooweather_drag{
    background-position:2025px 0px !important;
}
.DSBKnowledgeCampus{
    background-position:1130px 0px !important;
}
.DSBGmail{
     background-position:2586px 0px !important;
}
.DSBChat{
    background-position:2515px 0px !important;
}
.DSBKnowledgeUniVimeo{
    background-position:193px 0px !important;
}
.DSBtags{
    background-position:333px 0px !important;

}
.DSBaboutKC{
    background-position:800px 0px !important;
}
.DSBactivity{
    background-position:0px 0px !important;
}

.mycategory-expand{
    background-position : 0 -255px;
}
.x-tool-rss{
    background : url(../images/FeedIcon14.gif) no-repeat scroll 0% !important;
}
.x-tool-rss-white{
    background : url(../images/rss-white.gif) no-repeat scroll 0% !important;
}
.x-tool-rss-transparent{
    background : url(../images/rss-transparent.gif) no-repeat scroll 0% !important;
}
.x-tool-refreshp{
    background : url(../images/refresh.gif) !important;
}
.x-tool-thumbsup{
    background : url(../images/rank.gif) !important;
}*/

.x-panel-body p {
    margin:5px;
}
.x-column-layout-ct .x-panel {
    margin-bottom:10px;
}

.dimensionFieldData .x-column-layout-ct .x-panel {
    margin-bottom:0px;
}
.x-column-layout-ct .x-panel-dd-spacer {
    margin-bottom:10px;
}
.x-column-layout-ct .x-panel-ml {
    padding-left:2px;
}
.x-column-layout-ct .x-panel-mr {
    padding-right:2px;
}
.x-column-layout-ct .x-panel-bl {
    padding-left:2px;
}
.x-column-layout-ct .x-panel-br {
    padding-right:2px;
}

.x-column-layout-ct .x-panel-mc {
    padding-top:2px;
}
.x-column-layout-ct .x-panel-bc .x-panel-footer {
    padding-bottom:2px;
}
.x-column-layout-ct .x-panel-nofooter .x-panel-bc {
    height:2px;
}

/*.grhead{
	color: #949494;
}*/
/*
.announcement
{
    background:url(../images/bullet2.gif) no-repeat;
    text-decoration:none;
    padding-left:15px;
    margin:4px;
    line-height:16px;
    border-bottom:1px dotted #e4e4e4;
    padding-bottom:5px;
}

#DSBTopWorkspaces a
{
    text-decoration:none;
    color:#083772;
}


#DSBTopWorkspaces a:hover{
    color:#445566;
    text-decoration:underline;
}


#DSBMyWorkspaces a, #DSBChat a,#DSBKnowledgeCampus a
{
    text-decoration:none;
    color:#083772;
}


#DSBMyWorkspaces a:hover, #DSBChat a:hover,#DSBKnowledgeCampus a:hover{
    color:#445566;
    text-decoration:underline;
}*/
/*
#knowledgechamps_drag a
{
    text-decoration:none;
    color:#083772;
    margin:4px
}

#knowledgechamps_drag a:hover{
    color:#445566;
    text-decoration:underline;
}


#library_drag a
{
    text-decoration:none;
    color:#083772;
}

#library_drag a:hover{
    color:#445566;
    text-decoration:underline;
}*/


/*.datagridonDB tr td{
    padding:3px 0px ;
    border-bottom:solid 1px #EEEEEE;

}

.DBtooltipdiv a
{
    text-decoration:none;
    color:#083772;
    margin:4px
}

.DBtooltipdiv a:hover
{
    color:#445566;
    text-decoration:underline;
}


.ratings{
    cursor:pointer;
    height:14px;
    width:14px;
}

.ratingsHeader{
    cursor:pointer;
    height:14px;
    width:14px;
}
*/


.bigElementImg{
    height : 70px;
    width : 120px;
    text-align : center;
}

.customPanelHeader .x-panel-header {
    background : white !important;
    border-width : 0 0 1px 0 !important;
    border-color : #CEDFF5;
}

.customPanelHeader .x-panel-body {
    border-style : none !important;
}



.portlet-panel-header {
    background:transparent url(../images/white-top-bottom1.gif) repeat-x scroll 0pt -1px;
    border:1px solid #99BBE8;
    color:#15428B;
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:15px;
    overflow:hidden;
    padding:5px 3px 4px 5px;
    overflow :hidden;
}

.portlet-body {
    background-color:#DFE8F6;
    padding-top:4px;
    padding-left:4px;
    padding-bottom:4px;
    padding-right: 4px;
    float:left;
    width:99%;
    height: 99%;
    -moz-user-select:auto;

}
.portlet-body1 {
    background-color:#DFE8F6;
    padding-top:4px;
    padding-left:4px;
    padding-bottom:4px;
    padding-right: 4px;
    float:left;
    width:99%;
    opacity: 0.7;
    height: 99%;
    -moz-user-select:auto;
}

#dashboard-south{
  -moz-user-select:none;
}

#crmDashboardThumbnailPortletsaleswidget_drag {
    padding-left: 0px !important;
    padding-top: 0px !important;
    width: 96.5% !important;
}
.templateThumbCont {
    display: block;
    float: left;
    margin: 7px 8px;
    cursor: pointer;
    width: 27%;
    height: 105px;
}
.templateThumbContainer:hover {
/*    width: 78px;
    height: 88px;
    border: 1px solid #C8A070;
    background: url(../images/background.jpg);*/
}
.templateNameDiv {
    display: block;
    font-size: 12px;
    text-align: center;
    width: 100%;
    magrin-left:9px;
}

/*
.selectedTemplate {
     background: url(../images/selected.gif);
}
*/
.templateThumbImg {
    margin-top: 5px;
}

.dashpwnd {
    background: transparent url(../images/Icon-Strip.png);
    width:100px;
    height:60px;
    text-align: center;
    cursor : pointer;
}

.purchasemgntwidget_drag {
   background-position:1582px 0px !important;
}

.salesbillingwidget_drag {
   background-position:1673px 0px !important;
}

.financialstmtwidget_drag{
     background-position:1404px 0px !important;
}

.transactionreportwidget_drag{
     background-position:1926px  0px !important;
}

.masterswidget_drag{
    background-position:2425px 0px !important;
}

.updateswidget_drag{
    background-position:921px  0 !important;
}

.accountmgntwidget_drag{
    background-position:1313px 0 !important;
}

.purchasetransactionreportwidget_drag{
     background-position:1143px 0px !important;
}

.salestransactionreportwidget_drag{
     background-position:1054px 0px !important;
}

.adminwidget_drag{
     background-position:1221px 0px !important;
}

.workspace{ color:#333333; width:100%; float:left!important; padding:6px 0px 6px 0px; margin:3px 0px; border-bottom:solid 1px #e1e1e1; border-top:solid 1px white; border-left: solid 1px white; border-right:solid 1px white;}
.workspace:hover{
    background-color:#FFFED4;
    border:1px solid #c8a070;
}
.workspace-vote{ width:52px; float:left!important; padding:0px; margin:2px 3px;}
.workspace-text{ width:90%; float:left!important; padding:0px; margin:0px 8px;}
.workspace-dust{ width:33%!important; float:left!important; padding:2px 0px;  font-size:11px; margin:0px; display:block; color:#666;}

.pagination-div{width:12px;height:20px;margin:3px 0px 1px 4px;float:left;text-align:center;}
.active-pagination{background:url(../lib/resources/images/default/grid/page-last.gif) no-repeat;cursor:pointer;text-align:center;color:#F1F1F1}
.last-pagination{background:url(../lib/resources/images/default/grid/page-last.gif) no-repeat scroll -1px 0px;cursor:pointer;text-align:center;color:#F1F1F1;line-height:32px}
.next-pagination{background:url(../lib/resources/images/default/grid/page-next.gif) no-repeat;cursor:pointer;text-align:center;color:#F1F1F1;line-height:35px}
.first-pagination{background:url(../lib/resources/images/default/grid/page-first.gif) no-repeat scroll -1px 0px;cursor:pointer;text-align:center;color:#F1F1F1;line-height:38px}
.prev-pagination{background:url(../lib/resources/images/default/grid/page-prev.gif) no-repeat;cursor:pointer;text-align:center;color:#F1F1F1;line-height:35px}
.deactive-pagination{background:url(../images/pagination-deactive.gif);}

.thickBlackBorderWidget {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
/*        width: 100%;
        height: 100%;*/
}

.firstflowlink1{
    padding-top:0px;
    float:left;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom:0px;
}
