.userprofile_contact {
	color: #00156E !important;
	font-size: 11px;
}
.userprofile_contact_value {
	font-size: 12px;
}
.form-item-space {
	margin-bottom: 0px;
	padding: 5px;
}
.mycategory-collapse {
	background-position: 0 -240px;
}
.dashpwnd {
	width: 61px;
	height: 49px;
	background: transparent url(../images/widgetsKPI.png) repeat scroll 0 0;
	cursor: pointer;
}
.dash_adminwidget {
	background-position: 463px 176px !important;
}
.dash_financialReport {
	background-position: 518px 178px !important;
}
.dash_generalReport {
	background-position: 1334px 178px !important;
}
.chart_drag {
	background-position: 1334px 178px !important;
}
.chart_drag1 {
	background-position: 1334px 178px !important;
}
.padd {
	padding-left: 20px;
}
.library_drag {
	background-position: 528px 198px !important;
}
.DSBMyWorkspaces {
	background-position: 234px 178px !important;
}
.announcement_drag {
	background-position: 528px 550px !important;
}
.paddingforuploadwin {
	padding-left: 35px;
}
.DSBTaskList {
	background-position: 528px 108px !important;
}
.DSBTopWorkspaces {
	background-position: 528px 440px !important;
}
.knowledgechamps_drag {
	background-position: 528px 375px !important;
}
.issueTracker_drag {
	background-position: 528px 198px !important;
}
.googleMap_drag {
	background-position: 528px 264px !important;
}
.DSBSpotlight {
	background-position: 528px 417px !important;
}
.rssFeed_drag {
	background-position: 528px 154px !important;
}
.yahooweather_drag {
	background-position: 528px 462px !important;
}
.DSBKnowledgeCampus {
	background-position: 528px 397px !important;
}
.DSBGmail {
	background-position: 528px 352px !important;
}
.DSBChat {
	background-position: 528px 331px !important;
}
.DSBKnowledgeUniVimeo {
	background-position: 528px 595px !important;
}
.DSBtags {
	background-position: 528px 638px !important;
}
.DSBaboutKC {
	background-position: 528px 285px !important;
}
.DSBactivity {
	background-position: 0px 0px !important;
}
.DSBarrow {
	float: left;
	background-position: 528px 21px !important;
}
.mycategory-expand {
	background-position: 0 -255px;
}
.x-tool-rss {
	background: url(../images/FeedIcon14.gif) no-repeat scroll 0% !important;
}
.x-tool-rss-white {
	background: url(../images/rss-white.gif) no-repeat scroll 0% !important;
}
.x-tool-wsetting {
	background: transparent url(../images/t-bar.gif) no-repeat scroll 0 0 !important;
	background-position: 0 -3567px !important;
}
.x-tool-info {
	background: transparent url(../images/t-bar.gif) no-repeat scroll 0 0 !important;
	background-position: 0 -3898px !important;
}
.x-tool-rss-transparent {
	background: url(../images/rss-transparent.gif) no-repeat scroll 0% !important;
}
.x-tool-refreshp {
	background: url(../images/refresh.gif) !important;
}
.x-tool-thumbsup {
	background: url(../images/rank.gif) !important;
}
.x-panel-body p {
	margin: 10px;
}
.x-column-layout-ct .x-panel {
	margin-bottom: 10px;
}
.x-column-layout-ct .x-panel-dd-spacer {
	margin-bottom: 10px;
}
.settings {
	background-image: url(../shared/icons/fam/folder_wrench.png) !important;
}
.nav {
	background-image: url(../shared/icons/fam/folder_go.png) !important;
}
/* Clean up the look of the portlets */

.x-column-layout-ct .x-panel-ml {
	padding-left: 2px;
}
.x-column-layout-ct .x-panel-mr {
	padding-right: 2px;
}
.x-column-layout-ct .x-panel-bl {
	padding-left: 2px;
}
.x-column-layout-ct .x-panel-br {
	padding-right: 2px;
}
.x-column-layout-ct .x-panel-mc {
	padding-top: 2px;
}
.x-column-layout-ct .x-panel-bc .x-panel-footer {
	padding-bottom: 2px;
}
.x-column-layout-ct .x-panel-nofooter .x-panel-bc {
	height: 2px;
}
.announcement {
	margin: 4px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-bottom: 1px dotted #e4e4e4;
	background: url(../images/bullet2.gif) no-repeat;
	text-decoration: none;
	line-height: 16px;
}
.announcement1 {
	margin: 4px;
	padding-bottom: 5px;
	padding-left: 18px;
	border-bottom: 1px dotted #e4e4e4;
	background: url(../images/globe-icon.gif) no-repeat;
	text-decoration: none;
	line-height: 14px;
}
#DSBTopWorkspaces a {
	color: #083772;
	text-decoration: none;
}
#DSBTopWorkspaces a:hover {
	color: #445566;
	text-decoration: underline;
}
#DSBMyWorkspaces a,
#DSBChat a,
#DSBKnowledgeCampus a {
	color: #083772;
	text-decoration: none;
}
#DSBMyWorkspaces a:hover,
#DSBChat a:hover,
#DSBKnowledgeCampus a:hover {
	color: #445566;
	text-decoration: underline;
}
#knowledgechamps_drag a {
	margin: 4px;
	color: #083772;
	text-decoration: none;
}
#knowledgechamps_drag a:hover {
	color: #445566;
	text-decoration: underline;
}
#library_drag a {
	color: #083772;
	text-decoration: none;
}
#library_drag a:hover {
	color: #445566;
	text-decoration: underline;
}
.datagridonDB tr td {
	padding: 3px 0px;
	border-bottom: solid 1px #EEEEEE;
}
.DBtooltipdiv a {
	margin: 4px;
	color: #083772;
	text-decoration: none;
}
.DBtooltipdiv a:hover {
	color: #445566;
	text-decoration: underline;
}
.ratings {
	padding-left: 4px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
.ratingsHeader {
	padding-left: 4px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
.top-workspace-header {
	display: block;
	float: left;
	margin: 3px 0 0 6px !important;
	padding: 0px;
	padding: 2px 0px;
	color: black;
	font-size: 12px;
}
.top-workspace-para {
	display: block;
	margin: 0 0 0 21px !important;
	padding: 0px;
	padding: 5px 0px;
	color: #949494;
	font-size: 11px;
}
.content-div {
	float: left;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 1px dotted #e4e4e4;
}
.pagination-div {
	float: left;
	margin: 3px 0px 1px 4px;
	width: 19px;
	height: 20px;
	text-align: center;
}
.active-pagination {
	background: url(../images/pagianation-active.gif);
	color: white;
	text-align: center;
}
.deactive-pagination {
	background: url(../images/pagination-deactive.gif);
}
.type-task {
	float: left;
	margin-top: 5px;
	margin-left: 4px;
	width: 18px;
	height: 16px;
	background: url(../images/bullet2.gif) no-repeat left top;
}
.type-comment {
	float: left;
	width: 16px;
	height: 16px;
	background: transparent url(../images/t-bar.gif) repeat scroll 0 -463px;
}
.type-event {
	background: url(../images/events.gif);
}
.AccessRightsImage {
	background-image: url(../images/permission.gif) !important;
}
.thumbs_up {
	background-image: url(../images/thumbs_up.gif) !important;
}
.thumbs_down {
	background-image: url(../images/thumbs_down.gif) !important;
}
.dis_thumbs_up {
	background-image: url(../images/thumbs_up-dis.gif) !important;
}
.dis_thumbs_down {
	background-image: url(../images/thumbs_down-dis.gif) !important;
}
.search_image {
	cursor: pointer;
}
.search_div {
	float: right;
	padding: 3px 0 0 6px;
	width: 50px;
	height: 21px;
	background-color: #083772;
	color: white;
	font-size: 14px;
	cursor: pointer;
}
.searchspacer {
	float: right;
	width: .5%;
	height: 24px;
	background-color: #DFE8F6;
}
.pdf-img {
	background-position: 0px -902px !important;
}
.doc-img {
	background-position: 0px -550px !important;
}
.audio-img {
	background-position: 0px -836px !important;
}
.xls-img {
	background-position: 0 -2550px !important;
}
.video-img {
	background-position: 0px -132px !important;
}
.vimeo-img {
	background-position: 0px -2662px !important;
}
.video-img-menu {
	background-position: 0px -134px !important;
}
.txt-img {
	background-position: 0px -44px !important;
}
.all-combo-img {
	background-position: 0px -66px !important;
}
.web-img {
	background-position: 0px -154px !important;
}
.picture-img {
	background-position: 0px -924px !important;
}
.zip-img {
	background-position: 0px -286px !important;
}
.ppt-img {
	background-position: 0px -1914px !important;
}
.x-icon-combo-input {
	padding-left: 25px !important;
}
.x-icon-combo-item {
	padding-left: 24px;
	background-position: 3px 50% !important;
	background-repeat: no-repeat !important;
}
.x-grid3-row td {
	vertical-align: middle;
}
.addNewItem {
	background-image: url(../images/New.gif) !important;
}
.editItem {
	background-position: 0 -594px !important;
}
.deleteItem {
	background-image: url(../images/Delete.gif) !important;
}
.mvtofoldericon {
	background-image: url(../images/move.gif) !important;
}
.admisettings {
	background-position: 0 0px !important;
}
.adminconfig {
	background-position: 0 -506px !important;
}
.workspace {
	z-index: 1000;
	float: left !important;
	margin: 3px 0px;
	padding: 0px 0px 6px 0px;
	width: 100%;
	border-bottom: solid 1px #e1e1e1;
	color: #333333;
}
.workspace-vote {
	float: left !important;
	margin: 2px 3px;
	padding: 0px;
	width: 52px;
}
.workspace-text {
	float: left !important;
	margin: 0px 8px;
	padding: 0px;
	width: 65%;
}
.workspace-text4 {
	float: left !important;
	margin: 0px 8px;
	padding: 0px;
	width: 85%;
}
.workspace-text2 {
	float: right !important;
	margin: 0px 8px;
	padding: 17px 6px 5px 88px;
	width: 0%;
	text-align: justify;
}
.workspace-text1 {
	float: left !important;
	margin: 0px 8px;
	padding: 0px;
}
.workspace-dust {
	display: block;
	float: left !important;
	margin: 0px;
	padding: 2px 0px;
	width: 33% !important;
	color: #666;
	font-size: 11px;
}
.by-name {
	margin: 0px;
	padding: 2px 0px;
	color: #666;
	font-weight: bold;
	font-size: 11px;
}
.top-workspace-header {
	display: block !important;
	padding: 2px 0;
	color: black;
}
.work-title {
	font-weight: bold !important;
}
.work-title a {
	padding: 2px 0px;
	color: #083772;
	font-weight: bold !important;
}
.work-title-compass {
	border-bottom: none;
	font-size: 11px;
	line-height: 12px;
}
.work-title-compass a {
	padding: 2px 0px;
	color: #083772;
}
.chat-msg {
	padding: 2px 0px;
	color: #666666;
	font-size: 11px;
}
.form-field-class {
	margin-bottom: 10px;
	padding-top: 8px;
	background: transparent url(../images/bg_grey_dotted_h-line_3x1.gif) repeat-x scroll 0 100%;
}
table.servicesT {
	border-spacing: 0;
	color: #404040;
	font-weight: normal;
	font-size: 12px;
}
th.servHd {
	border-bottom: 2px solid #6699CC;
	color: #404040;
	font-weight: bold;
	font-size: 12px;
}
.servBodL {
	border-left: 1px dotted #CEDCEA;
}
table.servicesT td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-bottom: 1px dotted #6699CC;
	color: #404040;
	font-weight: normal;
	font-size: 12px;
}
/* [sy]- New issue tracker tbar and related*/

.issuepwnd {
	background: transparent url(../images/issue.gif) no-repeat scroll 0 0 !important;
}
.tabIssue {
	background-position: 0 1px !important;
}
.newIssue {
	background-position: 0 -22px !important;
}
.editIssue {
	background-position: 0 -63px !important;
}
.deleteIssue {
	background-position: 0 -47px !important;
}
.notification {
	background: url(../images/email_go.gif) no-repeat scroll 0 !important;
}
.changeStatus {
	background-position: 0 -136px !important;
}
.changeStatus1 {
	background-position: 0 -132px !important;
}
.markAsDoneIssue {
	background-position: 0 -90px !important;
}
.acceptIssue {
	background-position: 0 -113px !important;
}
.acceptIssue1 {
	background-position: 0 -108px !important;
}
.issuestatusmenu {
	background-position: 0 -64px !important;
}
#DSBSpotlight a {
	color: #083772;
	text-decoration: none;
}
#DSBSpotlight a:hover {
	color: #445566;
	text-decoration: underline;
}
.enable {
	background-position: 0 -1672px !important;
}
.disable {
	background-position: 0 -1650px !important;
}
.x-tool-rssAddNew {
	background: url(../images/web14.gif) no-repeat scroll 0% !important;
}
.viewLog {
	background-position: 0 -1034px !important;
}
.blogentry {
	margin-left: -9px;
}
.slLinkWrapper {
	margin: 4px;
	padding-left: 15px;
	background: transparent url(../images/bullet2.gif) no-repeat scroll 0 0;
	text-align: justify;
	font-size: 11px;
}
.slLinkWrapper a {
	color: #083772;
	text-decoration: none;
}
.slLinkWrapper a:hover {
	color: #445566;
	text-decoration: underline;
}
.collaborateicon {
	background-position: 0 -1716px !important;
}
.workspaceadmin {
	background-position: 0 -1738px !important;
}
.spotlighticon {
	background-position: 0 -2750px !important;
}
.viewprofileicon {
	background-position: 0 -1848px !important;
}
.reporticon {
	background-position: 0 -1782px !important;
}
.submiticon {
	background-position: 0 -1892px !important;
}
.exportpdf1 {
	background-position: 0 -2882px !important;
}
.exportpdf2 {
	background-position: 0 -2885px !important;
}
.expDwnldLink {
	color: #0C479D !important;
	text-decoration: underline !important;
}
.announcements-search-params {
	display: block;
	margin: 0px;
	padding: 2px 0px;
	width: 33% !important;
	color: #666666;
	font-size: 10px;
}
.elementImg {
	width: 50px;
	height: 50px;
	text-align: center;
}
.startImg {
	background-image: url(../images/lms/assessment.gif) !important;
}
.intermediateImg {
	background-image: url(../images/lms/assessment.gif) !important;
}
.endImg {
	background-image: url(../images/lms/assessment.gif) !important;
}
.bigElementImg {
	width: 120px;
	height: 70px;
	text-align: center;
}
.activityImg {
	background-image: url(../images/lms/assessment.gif) !important;
}
.gatewayImg {
	background-image: url(../images/lms/assessment.gif) !important;
}
.solidLineDiv {
	background-image: url(../images/lms/solid-line.gif) !important;
}
.dottedLineDiv {
	background-image: url(../images/lms/dotted-line.gif) !important;
}
.associationLineDiv {
	background-image: url(../images/lms/dotted-line1.gif) !important;
}
.connObj {
	margin: 10% 0% 0% 10%;
	width: 80%;
	height: 25px;
	background-color: Yellow;
	background-position: 43% 47% !important;
	background-repeat: no-repeat !important;
	cursor: pointer;
}
.lineDeactive {
	background-color: white;
}
.lineActive {
	background-color: #f0f8ff;
}
.lineLabel {
	margin-left: 29%;
}
.wiki-page {
	padding: 5px;
	color: black;
}
.wiki-content {
	margin-left: 0pt;
	/*  position:relative;*/
	vertical-align: top;
}
.wiki-contents {
	padding: 14px 14px 25px;
	border: 1px solid #D8D8E7;
	background: white none repeat scroll 0%;
}
.wiki-contents-header {
	padding: 0.2em 0em;
	border-bottom: 1px solid #D8D8E7;
	color: #1f497d;
	font-family: Verdana;
}
.wiki-contents-header1 {
	float: left;
	padding: 0.2em 0em;
	width: 100%;
	border-bottom: 1px solid #D8D8E7;
	color: #1f497d;
	font-family: Verdana;
}
.wiki-updatedon {
	float: right !important;
	padding-top: 12px !important;
	color: #666666 !important;
	font-weight: normal !important;
	font-size: 11px !important;
}
.wiki-contents-header-font1 {
	font-weight: bold;
	font-size: 21px;
}
.wiki-contents-header-font2 {
	font-weight: bold;
	font-size: 18px;
}
.wiki-contents-header-font3 {
	font-size: 16px;
}
/*.wiki-content-article {
	padding:2px 0px;
	font-family: Verdana;
	color:#1f497d;
	font-size : 16px !important;
}*/

.wtf-ie .wiki-content-article {
	float: left !important;
}
.wiki-content-article address,
.wiki-content-article em,
.wiki-content-article dfn,
.wiki-content-article var {
	font-style: italic;
}
.wiki-content-article strong {
	font-weight: bold;
}
.wiki-content-article ol {
	margin-left: 50px;
	list-style-position: outside;
	list-style-type: decimal;
	list-style-image: none;
}
.wiki-content-article ul {
	margin-left: 50px;
	list-style-position: outside;
	list-style-type: square;
	list-style-image: none;
}
.wiki-content-article pre {
	overflow: hidden;
	padding: 1em;
	border: 1px dashed #7E7ECB;
	background-color: #FBFBFD;
	color: black;
	font-size: 110%;
	line-height: 1.1em;
}
.editor-view-tab-icon {
	background-position: 0 -2002px !important;
}
.editor-btn-icon {
	background-position: 0 -1980px !important;
}
.preview-editor-btn-icon {
	background-position: 0 -1958px !important;
}
.save-editor-btn-icon {
	background-position: 0 -1936px !important;
}
.wiki-content-article a {
	color: #5555bb;
	text-decoration: none;
}
.wiki-content-article a:hover {
	border-bottom: 1px dotted #5555bb;
}
.wiki-content-article a.logo {
	border: 0;
}
.wiki-content-article a.edit {
	border-color: #aa1111;
	color: #aa1111;
}
.wiki-content-article a.edit:hover {
	border-bottom: 1px dotted #aa1111;
}
.wiki-content-article a.redirect {
	margin-left: 20px;
	text-decoration: none;
	font-size: 150%;
}
/*
.wiki-content-article p {
	margin: .4em 0 0 0;
	line-height: 1.5em;
}*/

.wiki-content-article h1,
.wiki-content-article h2,
.wiki-content-article h3,
.wiki-content-article h4,
.wiki-content-article h5 {
	/*color: black;*/
	margin: 0;
	padding: 0.5em 0em 0.2em 0em;
	text-align: left;
}
.wiki-content-article h1 {
	border-bottom: 1px solid #D8D8E7;
	font-weight: normal;
	font-size: 200%;
}
.wiki-content-article h2 {
	border-bottom: 1px solid #D8D8E7;
	font-weight: normal;
	font-size: 175%;
}
.wiki-content-article h3 {
	font-weight: normal;
	font-size: 150%;
}
.wiki-content-article h4 {
	font-weight: bold;
	font-size: 125%;
}
.wiki-content-article h5 {
	font-weight: bold;
	font-size: 110%;
}
.wiki-content-article code {
	/*color: black;*/
	font-size: 120%;
}
.wiki-content-article dt {
	margin-bottom: .1em;
	font-weight: bold;
}
.wiki-content-article dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
.wiki-content-article dd {
	margin-bottom: .1em;
	margin-left: 2em;
	line-height: 1.5em;
}
.wiki-content-article ul {
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-type: square;
	line-height: 1.5em;
}
.wiki-content-article ol {
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
	line-height: 1.5em;
}
.wiki-content-article li {
	margin-bottom: .1em;
}
.wiki-content-article textarea {
	width: 100%;
	border-style: solid;
}
.wiki-content-article fieldset {
	padding: 5px;
	border: 1px solid #D8D8E7;
}
.wiki-content-article legend {
	padding: 0.5em;
	font-weight: bold;
}
.wiki-content-article .red {
	color: #ff0000;
	font-weight: bold;
}
.wiki-content-article .green {
	color: #009900;
	font-weight: bold;
}
.wiki-content-article div.message {
	margin: 1.5em 0 1.5em 0;
	padding: 0px 5px;
}
.wiki-content-article div.submenu {
	margin: 1.0em 6em 0.8em 6em;
	text-align: center;
}
.wiki-content-article .clear {
	clear: both;
}
.pedagogy_ico {
	background-position: 0 -2376px !important;
}
.el-float-right-margin {
	float: right;
	margin-left: 5px;
}
.archiveissue {
	background-position: 0 -154px !important;
}
.unarchiveissue {
	background-position: 0 -176px !important;
}
.viewarchiveissue {
	background-position: 0 -200px !important;
}
.attachment {
	background-position: 0 -220px !important;
}
.outerdiv-chat-win {
	position: absolute;
	bottom: 0pt;
	visibility: visible;
	width: 100%;
}
.lo .m {
	background: #83AEF7 none repeat scroll 0%;
}
.m {
	background: #E0ECFF none repeat scroll 0%;
}
.m {
	float: left;
	width: 100%;
}
.lo .k {
	background: #83AEF7 none repeat scroll 0%;
}
.k {
	position: relative;
}
.le {
	margin: 0pt;
	width: 100%;
	border-collapse: collapse;
	font-size: 80%;
	cursor: pointer;
}
.cf {
	border-collapse: collapse;
}
.ks {
	width: 16px;
}
.kw {
	width: 60px;
	text-align: right;
}
.ko {
	position: relative;
	clear: both;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0.42em 4pt 4pt;
	min-height: 60px;
	height: 120px;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	color: #000000;
}
.kstatus {
	position: relative;
	clear: both;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 2pt;
	min-height: 0px;
	max-height: 20px;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	color: gray;
	font-style: italic;
}
.kX {
	border-width: medium 1px 1px;
	border-style: none solid solid;
	border-color: #CCCCCC;
}
.jt {
	overflow: hidden;
}
.jp {
	padding-bottom: 4px;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	text-align: center;
}
.jU {
	padding: 4pt 3px;
}
.jT {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 1px;
	padding: 3px 0pt 3px 3px;
	width: 96%;
	height: 36px;
	outline-width: 0pt;
	outline-style: none;
	outline-color: invert;
	border: 1px solid grayText;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 100%;
}
.dw {
	position: absolute;
	top: 0pt;
	left: 0pt;
	visibility: hidden;
	width: 100%;
	height: 100%;
}
.statusstrip {
	float: left;
	width: 16px;
	height: 16px;
	background: transparent url(../images/statusimages.gif) no-repeat !important;
}
.online {
	background-position: 0px -1px !important;
}
.offline {
	background-position: -61px -1px !important;
}
.busy {
	background-position: -41px -1px !important;
}
.status_false {
	background-position: -81px -1px !important;
}
.status_import {
	background-position: -101px -1px !important;
}
.newmsg {
	overflow: hidden;
	padding: 5px 3px 4px 5px;
	border: 1px solid #99bbe8;
	background: #FF8A00 none repeat scroll 0 0;
	color: #15428b;
	font: bold 11px tahoma, arial, verdana, sans-serif;
	line-height: 15px;
	zoom: 1;
}
.status-chat-win {
	position: absolute;
	visibility: visible;
}
.login_dashboard {
	margin: auto;
	margin: 0;
	background-color: #FFFFFF;
	text-align: left;
	font-size: .8em;
	font-family: "trebuchet MS", tahoma, verdana, arial, helvetica, sans-serif;
}
.prompt_dashboard {
	text-align: left;
}
.box-h2_dashboard {
	margin: 0;
	margin-bottom: 5px;
	padding: 5px;
	border-bottom: 1px solid #efefef;
	background: #fff;
	color: #2e3092;
	font-size: 1.2em;
}
.inputcontainer_dashboard {
	height: 26px;
}
.labels_dashboard {
	display: block;
	float: left;
	width: 100px;
}
.inputbox_dashboard {
	display: block;
	float: left;
	width: 180px;
}
.errorprompt_dashboard {
	visibility: hidden;
	color: red;
	font-weight: bold;
}
.clr_dashboard {
	clear: both;
	height: 10px;
}
.mail-read {
	background-position: 0px -2468px !important;
}
.mail-unreadattachment {
	background-position: 0px -2442px !important;
}
.mail-unread {
	background-position: 0px -2420px !important;
}
.pointer {
	cursor: pointer;
}
.no-pointer {
	padding: 2px 0px;
	color: #083772;
	font-weight: bold !important;
	cursor: default;
}
.addimage {
	background-image: url(../images/tabicons_02.gif) !important;
}
.saved {
	color: maroon;
}
.sheet1 {
	background-image: url(../images/Calendar-Week.gif) !important;
}
.sheet2 {
	background-image: url(../images/Calendar-Month.gif) !important;
}
.sheet3 {
	background-image: url(../images/Calendar-Day.gif) !important;
}
.add-video {
	background-position: 0px -2486px !important;
}
.edit-video {
	background-position: 0px -2530px !important;
}
.delete-video {
	background-position: 0px -2508px !important;
}
.add-vimeo {
	background-position: 0px -2706px !important;
}
.edit-vimeo {
	background-position: 0px -2684px !important;
}
.delete-vimeo {
	background-position: 0px -2728px !important;
}
.toc_subtitle {
	font-weight: normal;
}
.docname_lib_widget {
	width: 80%;
}
.library_file_name {
	vertical-align: super;
}
.fontSize11 {
	font-size: 11px;
}
.locality {
	display: inline;
}
.libraryDesc {
	color: #949494;
}
.vlTop {
	vertical-align: top;
}
.libFileDescTd {
	padding-left: 2px;
}
.categoryCombo {
	top: -1px;
	left: 5px;
	width: 16px;
	height: 20px;
	background-repeat: no-repeat;
}
/*
body:first-of-type  DIV.listitem div div{
	line-height:0px !important;
}
*/

.wtf-safari .dttrigger {
	/* safari doesn't allow height adjustments to the fields, so adjust trigger */
	position: relative !important;
	top: 2px !important;
	height: 21px;
}
.wtf-ie .adminWinDesc {
	width: 70% !important;
}
.statusCombo {
	top: 3px;
	left: 5px;
}
.logo_image {
	padding-right: 3px;
	padding-left: 3px;
	/*background : transparent url(../images/5.gif) repeat scroll 0 0;*/
}
.workspaceLinkCombo {
	margin: 10px;
}
/*Overwritten classes*/

.profile-header-overwritten {
	padding-top: 0px !important;
	background-color: white !important;
	/*border-right : 1px solid #CEDFF5 !important;
	width : 90%;*/
}
.userProfileListPanel {
	padding-left: 12px;
	height: '100%';
	border-left: 1px solid #CEDFF5 !important;
}
.profile-header-overwritten1 {
	margin-left: -8px;
	padding-top: 0px !important;
	background-color: white !important;
}
.overview-overwrittem {
	border-width: 0 0 0 0 !important;
}
.header-overwritten {
	border-bottom: 1px solid #CEDFF5 !important;
	background: white !important;
}
#workspaceAccordianPanel .x-panel {
	margin-bottom: 20px !important;
}
.wtfbutton-overwritten {
	font-size: 12px;
	/*height : auto !important;*/
	/*height : 150px !important;*/
	/*width : 98px !important;*/
}
.projlinks li {
	/*background: transparent url(../images/project12.gif) no-repeat scroll 0 2px;*/
}
.wtfbutton-overwritten img {
	/*height : 85px;
	width : 75px;*/
	/*margin : 5px 5px 2px 5px !important;*/
}
.wtfbutton-overwritten .labelShadow-overwritten {
	/*top : auto !important;
	left : 0px !important;
	padding : 0px !important;
	color : #003C96;
	text-align : center;
	width : 7em !important;*/
}
.calendar {
	margin: 5px 5px 5px 5px;
}
.userProfileList {
	margin-left: -3px;
	width: 100%;
}
/*Overwritten classes ends here*/

.seperator {
	margin: 1em 0 0 0;
	padding: 50em 0 0 0;
	border-left: 1px solid #CEDFF5;
}
.copyLinkIcon {
	background: transparent url(../images/Copy.gif) no-repeat scroll;
}
.kcWorkspaceNameTD {
	width: 100%;
}
.iconwin {
	background: transparent url(../images/Calendar-Week.gif) no-repeat scroll;
}
.aboutKCright {
	float: right;
}
.aboutKCleft {
	float: left;
}
.aboutKCitems {
	color: #666666;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-sarif;
}
.aboutKCfigures {
	color: #666666;
	font-weight: bold;
	font-family: Georgia;
	font-Size: 12px;
}
.wsHistoryDataDiv {
	line-height: 18px;
}
#as__tabdashboard .x-tab-strip-close {
	display: none !important;
}
#tabwebsite .wtf-el-mask {
	background-color: #c3daf9;
}
.x-form-element .strengthMeter {
	margin: 3px 0;
	border: 1px solid #B5B8C8;
	background-image: url(../images/meter_background.gif);
}
.x-form-element .strengthMeter-focus {
	border: 1px solid #000000;
}
.x-form-element .scoreBar {
	width: 0;
	height: 10px;
	background-image: url(../images/meter.gif);
	font-size: 1px;
	line-height: 1px;
}
.txtcolor {
	width: 435px;
	color: gray;
}
textarea {
	resize: none;
}
.emailtemplate {
	background-position: 0 -2420px !important;
}
.wiki-contentsForWSPreview {
	padding: 14px 14px 25px;
	border: 1px solid #D8D8E7;
	background: white none repeat scroll 0%;
}
.wapper {
	float: left;
	padding: 5px;
	width: 786px;
	border: 1px solid #99bbe8;
}
.top-nav-wapper {
	float: left;
	width: 105%;
}
.nav-welcome {
	float: left;
	width: 135px;
	height: 39px;
	background: #e31a15 url(../images/sprite_tag.jpg) no-repeat top right;
}
.nav-welcome p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-welcome p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step1 {
	float: left;
	width: 135px;
	height: 39px;
	background: #0071b9 url(../images/sprite_tag.jpg) no-repeat right -40px;
}
.nav-step1 p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step1 p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step2 {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.jpg) no-repeat right -80px;
}
.nav-step2 p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step2 p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step3 {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.jpg) no-repeat right -80px;
}
.nav-step3 p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step3 p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step4 {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.jpg) no-repeat right -80px;
}
.nav-step4 p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step4 p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step5 {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.gif) no-repeat right -80px;
}
.nav-step5 p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step5 p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step1-red {
	float: left;
	width: 135px;
	height: 39px;
	background: #e31a15 url(../images/sprite_tag.jpg) no-repeat right 0px;
}
.nav-step1-red p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step1-red p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-welcome-default {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.jpg) no-repeat right -120px;
}
.nav-welcome-default p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-welcome-default p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-welcome-def-gray {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.jpg) no-repeat right -80px;
}
.nav-welcome-def-gray p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-welcome-def-gray p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step1-red-def {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.jpg) no-repeat right -120px;
}
.nav-step1-red-def p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step1-red-def p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step1-def-gray {
	float: left;
	width: 135px;
	height: 39px;
	background: #e6e7eb url(../images/sprite_tag.jpg) no-repeat right -80px;
}
.nav-step1-def-gray p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step1-def-gray p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step2-blue {
	float: left;
	width: 135px;
	height: 39px;
	background: url("../images/sprite_tag.jpg") no-repeat right -40px #0071B9;
}
.nav-step2-blue p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step2-blue p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step5-red {
	float: left;
	width: 135px;
	height: 39px;
	background: #e41a16 url(../images/sprite_tag.jpg) no-repeat right -200px;
}
.nav-step5-red p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step5-red p span {
	font-weight: normal;
	font-size: 12px;
}
.popup-info {
	float: left;
	padding-left: 5px;
	width: 100%;
	font-size: 14px;
}
.popup-info-padding-none {
	float: left;
	width: 100%;
	font-size: 14px;
}
.blue-h2 {
	margin-top: 22px;
	color: #002d76;
	font-weight: normal;
	font-size: 20px;
}
.right-bullets {
	float: left;
	padding-top: 3px;
	padding-bottom: 4px;
	width: 100%;
}
.right-bullets span {
	float: left;
	padding: 0 0 0 6px;
	width: 20px;
	background: url(../images/bullet.jpg) left top no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 20px;
}
.alert-bullets {
	padding: 12px 0 0 25px;
	background: url(../images/alert-bullet.jpg) left 13px no-repeat;
}
.blue-heading {
	float: left;
	margin-top: 10px;
	width: 100%;
	height: 30px;
	background-color: #0071b9;
}
.right-blue-bullets {
	float: left;
	padding-top: 3px;
	padding-bottom: 4px;
	width: 100%;
}
.right-blue-bullets span {
	float: left;
	padding: 0 0 0 10px;
	width: 21px;
	background: url("../images/white-bullate.jpg") no-repeat scroll 4px 2px transparent;
	color: #0071B9;
	font-weight: bold;
	line-height: 24px;
}
.right-blue-bullets p {
	float: left;
	margin-top: 3px;
	width: 96%;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}
.notify-image {
	float: left;
	clear: left;
}
.notify-image1 {
	float: left;
	clear: left;
	padding-bottom: 10px;
	font-weight: bold;
}
.notify-image img {
	border: none;
}
.wrapperFormenu {
	/*border-bottom:thin solid #ebebeb;*/
	float: left;
	clear: both;
	/*padding-left: 4px;*/
	padding-top: 5px;
	padding-bottom: 2px;
	/*padding-bottom:5px;*/
	width: 245px;
	/*background:none repeat scroll 0 0 #F0F0F0;*/
}
.notify-uppertext {
	float: left;
	width: 70%;
	white-space: normal;
	font-weight: bold !important;
}
.teamleadername {
	padding-top: 10px;
	padding-left: 60px;
	border-top: thin solid #EBEBEB;
	font-weight: bold;
}
.notifycls {
	position: absolute;
	width: 50px;
	height: 30px;
	background: url("../images/widgets-icon.gif") no-repeat scroll 0 0 transparent;
}
.online-contacts {
	float: left !important;
	margin: 2px 7px;
	padding: 0px;
	width: 52px;
}
.custom .x-progress-bar {
	height: 15px;
	border-top: 1px solid #BEBEBE;
	border-right: 0 none;
	border-bottom: 1px solid #EFEFEF;
	background: url("../images/custom-bar.gif") repeat-x scroll 0 0 transparent;
	text-align: center;
}
.x-progress-wrap.custom {
	overflow: hidden;
	padding: 0 2px;
	height: 17px;
	border: 1px solid #686868;
}
.nav-step2-lightblueprof {
	float: left;
	width: 175px;
	height: 39px;
	background: url("../images/sprite_profile.gif") no-repeat scroll right -42px #B4DCF6;
}
.nav-step1-redprof {
	float: left;
	width: 175px;
	height: 39px;
	background: url("../images/sprite_profile.gif") no-repeat scroll right -127px #E41A16;
}
.nav-step2-blueprof {
	float: left;
	background: url("../images/sprite_profile.gif") no-repeat scroll right -21px #0077BC;
}
.nav-step1-redblueprof {
	float: left;
	width: 175px;
	height: 39px;
	background: url("../images/sprite_profile.gif") no-repeat scroll right -105px #E41A16;
}
.nav-step3-blueprof {
	float: left;
	background: url("../images/sprite_profile.gif") no-repeat scroll right -190px #0077BC;
}
.nav-step2-lightblueonly {
	float: left;
	background: url("../images/sprite_profile.gif") no-repeat scroll right -168px #B4DCF6;
}
.nav-step2-blueonly {
	float: left;
	background: url("../images/sprite_profile.gif") no-repeat scroll right -147px #0077BC;
}
.wrapperForNetSuite {
	float: left;
	clear: both;
	width: 150px;
	border-bottom: thin solid #ebebeb;
	background: none repeat scroll 0 0 #FFFFFF;
}
.cmenu {
	background-color: #F0F0F0 !important;
}
.linkIcon {
	margin: 4px;
	padding-bottom: 5px;
	padding-left: 25px;
	border-bottom: 1px solid #E1E1E1;
	background: url("../images/web_icon.jpg") no-repeat scroll 0 0 transparent;
	text-decoration: none;
	line-height: 18px;
}
.emailTabIcon {
	background-position: 0 -2421px !important;
}
.userName-text {
	float: left !important;
	/*    margin-left: 54px;*/
	margin-top: -3px;
}
.userprofilecls {
	float: left !important;
	margin: 3px 0;
	padding: 0 0 6px;
	width: 100%;
	color: #333333;
}
.inputcontainer_dashboardbutton {
	padding-left: 153px;
	width: 120px;
	height: 26px;
}
.labels_dashboardCoC {
	padding-left: 125px;
}
.acceptIcon {
	background-position: 0 -3014px !important;
}
.userimporticon {
	background-position: 0 -1895px !important;
}
.nav-steplast-blue {
	float: left;
	width: 145px;
	height: 39px;
	background: url("../images/sprite_tag.jpg") no-repeat scroll right -239px #0071B9;
}
.nav-steplast-def-gray {
	float: left;
	width: 145px;
	height: 39px;
	background: url("../images/sprite_tag.jpg") no-repeat scroll right -279px #E6E7EB;
}
.nav-steplast-blue p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-steplast-def-gray p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-steplast-blue p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-steplast-def-gray p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.photoCls {
	float: left !important;
	margin: 0 4px;
	padding: 0 0 5px 22px;
	width: 100%;
	color: #333333;
}
.labels_dashboardForCoC {
	display: block;
	float: left;
	width: 145px;
}
#DSBprofilestatus .x-panel-body {
	overflow: hidden;
	border: none !important;
	background: none repeat scroll 0 0 transparent;
}
#DSBphotoofweek .x-panel-body,
#DSBChat1 .x-panel-body,
#announcement_drag .x-panel-body,
#DSBTaskList .x-panel-body,
#rssFeed_drag .x-panel-body {
	border-width: 0 1px 0 !important;
}
.nav-step5-red-First {
	float: left;
	width: 135px;
	height: 39px;
	background: url("../images/sprite_tag.jpg") no-repeat scroll right -320px #E41A16;
}
.nav-step5-red-First p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step5-red-First p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step5-used-gray {
	float: left;
	width: 135px;
	height: 39px;
	background: url("../images/sprite_tag.jpg") no-repeat scroll right -360px #E6E7EB;
}
.nav-step5-used-gray p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step5-used-gray p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
.nav-step5-used-gray-gray {
	float: left;
	width: 135px;
	height: 39px;
	background: url("../images/sprite_tag.jpg") no-repeat scroll right -80px #E6E7EB;
}
.nav-step5-used-gray-gray p span {
	font-weight: normal;
	font-size: 12px;
}
.nav-step5-used-gray-gray p {
	margin: 5px 0 0 7px;
	padding: 0;
	color: #979697;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}
#myWorkspaceFromDashboard .x-grid3-header {
	display: none !important;
}
#myWorkspaceFromDashboard .x-grid3-row-table {
	width: 1400 !important;
}
#myWorkspaceFromDashboard .x-grid3 table {
	width: 1250px !important;
}
#myWorkspaceFromDashboard .x-grid3-row {
	width: 99.7% !important;
}
#WorkspaceFromDashboard .x-grid3-header {
	display: none !important;
}
#WorkspaceFromDashboard .x-grid3-row-table {
	width: 1400 !important;
}
#WorkspaceFromDashboard .x-grid3 table {
	width: 1250px !important;
}
#WorkspaceFromDashboard .x-grid3-row {
	width: 99.7% !important;
}
#WorkspaceFromDashboard .x-grid3-cell-inner,
#WorkspaceFromDashboard .x-grid3-hd-inner {
	overflow: hidden;
	padding: 3px 3px 5px 5px;
	height: 55px;
	white-space: normal;
}
#myWorkspaceFromDashboard .x-grid3-cell-inner,
#myWorkspaceFromDashboard .x-grid3-hd-inner {
	overflow: hidden;
	padding: 3px 3px 3px 5px;
	height: 55px;
	white-space: normal;
}
/*#myWorkspaceFromDashboard .x-toolbar {
	border-bottom: 1px solid #99BBE8;
	border-width: 0 0 1px;
	display: none;
}
#WorkspaceFromDashboard .x-toolbar {
	border-bottom: 1px solid #99BBE8;
	border-width: 0 0 1px;
	display: none;

}*/

#WorkspaceFromDashboardNavigator .x-grid3-header {
	display: none !important;
}
#WorkspaceFromDashboardNavigator .x-grid3-row-table {
	width: 1400 !important;
}
#WorkspaceFromDashboardNavigator .x-grid3 table {
	width: 1250px !important;
}
#WorkspaceFromDashboardNavigator .x-grid3-row {
	width: 99.7% !important;
}
#WorkspaceFromDashboardNavigator .x-grid3-cell-inner,
#WorkspaceFromDashboardNavigator .x-grid3-hd-inner {
	overflow: hidden;
	padding: 3px 3px 3px 5px;
	height: 55px;
	white-space: normal;
}
/*#WorkspaceFromDashboardNavigator .x-toolbar {
	border-bottom: 1px solid #99BBE8;
	border-width: 0 0 1px;
	display: none;
}
*/

.notification-menu .x-btn-center,
.notification-menu .x-btn-left,
.notification-menu .x-btn-right {
	background: none;
}
.notification-menu .x-btn-left {
	display: none;
}
.notification-menu .x-btn-center button {
	width: 50px;
	height: 24px;
}
.notification-menu1 .x-btn-center,
.notification-menu1 .x-btn-left,
.notification-menu1 .x-btn-right {
	background: none;
}
.notification-menu1 .x-btn-left {
	display: none;
}
.notification-menu1 .x-btn-center button {
	width: 50px;
	height: 24px;
}
.notification-menu2 .x-btn-center,
.notification-menu2 .x-btn-left,
.notification-menu2 .x-btn-right {
	background: none;
}
.notification-menu2 .x-btn-left {
	display: none;
}
.notification-menu2 .x-btn-center button {
	width: 50px;
	height: 24px;
}
#notifybar .x-btn-menu-arrow-wrap .x-btn-center button {
	background-position: -1px 3px;
}
#notifybar .x-menu li.x-menu-sep-li {
	clear: both;
}
#notifybar .x-menu-item-icon {
	display: none;
}
.notify-image {
	float: left;
	clear: left;
}
.notify-image img {
	border: none;
}
.wrapperForMenu {
	/*border-bottom:thin solid #ebebeb;*/
	float: left;
	clear: both;
	padding-bottom: 4px;
}
#KUapps .x-btn-menu-active button {
	/*        margin-top:1px;*/
	z-index: 170000;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #718BB7;
	background: white !important;
}
#goMenu .x-btn-menu-active button {
	/*        margin-top:1px;*/
	z-index: 170000;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #718BB7;
	background: white !important;
}
#notifybar .x-btn-menu-active button {
	/*    margin-top: -1px; */
	z-index: 170000;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #718BB7;
	/*	background:white url(../images/widgets-icon.gif) no-repeat center center !important;*/
}
.notification-menu .x-btn-center {
	padding: 0px !important;
}
.notification-menu .x-btn-center button {
	/* background: url(../images/widgets-icon.gif) no-repeat center center;*/
	position: relative;
	z-index: 100;
	width: 100px !important;
	height: 29px;
	outline: none;
}
.notification-menu1 .x-btn-center button {
	position: relative;
	z-index: 100;
	margin-top: -6px;
	margin-left: -1px;
	width: 30px;
	outline: none;
	background: #DFE8F6 no-repeat center center;
	color: #083772;
}
.notification-menu2 .x-btn-center button {
	position: relative;
	z-index: 100;
	margin-top: -6px;
	margin-left: -1px;
	width: 50px;
	outline: none;
	background: #DFE8F6 no-repeat center center;
	color: #083772;
}
.mainMenu1 {
	position: absolute;
	top: 94px !important;
	left: -11px !important;
	z-index: 15000 !important;
	visibility: visible;
	margin-left: 12px !important;
	width: 174px !important;
	background: none repeat scroll 0 0 #FFFFFF;
}
#notifybar .x-btn-menu-arrow-wrap {
	display: none;
}
#KUapps .x-btn-menu-arrow-wrap {
	display: none;
}
#goMenu .x-btn-menu-arrow-wrap {
	display: none;
}
button {
	outline: none;
}
.workspace-textForWs {
	float: left !important;
	margin: 0 8px -15px;
	padding: 0px;
	width: 94%;
}
.dttriggerForTeamLead {
	display: none !important;
}
.ctitle {
	font-weight: bold;
	font-size: 12px;
}
.workspace-text-forFeatured {
	float: left !important;
	margin: 0 8px;
	padding: 0;
	width: 70%;
}
.deactuser {
	padding-left: 16px;
	background-position: 0 -3922px !important;
}
.nodeWriteAccess {
	width: 100% !important;
	background-color: #4CC417;
}
.nodeReadAccess {
	width: 100% !important;
	background-color: #FFFF00;
}
.nodeNoAccess {
	width: 100% !important;
	background-color: #FFFFFF;
}
#contributerlist .x-grid3-hd-inner {
	display: none;
}
#contributerlist .x-grid3-row {
	border-width: 0;
}
#contributerlist .x-grid3-body {
	padding: 10px;
}
#announcement_drag1 .x-panel-body {
	border-color: #FF0000;
}
#announcement_drag1 .x-panel-header {
	border-color: #FF0000;
	background: #E41A16;
	color: #FFFFFF;
}
.wsAccessMap {
	background-position: 0 -3941px !important;
}
.refreshIcon {
	background-position: 0 -1629px !important;
}
.xyz {
	margin-bottom: 5px !important;
}
.xyz div {
	margin-bottom: 0px !important;
}
.png-img {
	background-position: 0px -3982px !important;
}
.psd-img {
	background-position: 0px -4047px !important;
}
.fla-img {
	background-position: 0px -4025px !important;
}
.swf-img {
	background-position: 0px -4003px !important;
}
.ai-img {
	background-position: 0 -3960px !important;
}
.wssearch {
	background-position: 0 -1830px !important;
}
.portletcls {
	padding: 10px 0 0 10px;
}
.portlet-panel-header {
	overflow: hidden;
	overflow: hidden;
	padding: 5px 3px 4px 5px;
	border: 1px solid #99BBE8;
	background: transparent url(../images/white-top-bottom.gif) repeat-x scroll 0pt -1px;
	color: #15428B;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	font-size-adjust: none;
	font-stretch: normal;
	font-size: 11px;
	font-family: tahoma, arial, verdana, sans-serif;
	line-height: 15px;
}
.portlet-body {
	float: left;
	padding-top: 9px;
	padding-bottom: 8px;
	padding-left: 8px;
	width: 98%;
	background-color: #DFE8F6;
	-moz-user-select: none;
}
.portlet-paging {
	float: left;
	padding-right: 7px;
	padding-left: 6px;
	width: 98%;
	background-color: #f1f1f1;
}
.refreshWidgets {
	display: block;
	float: right;
	margin-top: -2px;
	margin-right: 5px;
	width: 16px;
	height: 17px;
	background: transparent url(../images/tbar.gif);
	background-position: 0 -1010px !important;
	cursor: pointer;
}
#dashboard-south {
	-moz-user-select: none;
}
.DashboardThumbnailPortlet {
	padding-top: 0px !important;
	padding-left: 0px !important;
	width: 96.5% !important;
}
.templateNameDiv {
	display: block;
	width: 100%;
	text-align: center;
}
.templateThumbSpan {
	text-align: center;
	font-size: 12px;
}
.templateThumbCont {
	display: block;
	float: left;
	margin: 5px 6px;
	width: 80px;
	height: 102px;
	cursor: pointer;
}
.templateThumbImg {
	margin-top: 8px;
}
.templateThumbContainer:hover {
	width: 78px;
	height: 100px;
	border: 1px solid #C8A070;
	background: url(../images/background.jpg);
}
.customPanelHeader .x-panel-header {
	border-width: 0 0 1px 0 !important;
	border-color: #CEDFF5;
	background: white !important;
}
.customPanelHeader .x-panel-body {
	border-style: none !important;
}
.linkspanel {
	margin: 4px;
	padding-left: 16px;
	background: transparent url(../images/bullet2.gif) no-repeat scroll 0 0 !important;
}
.notify-text {
	float: left;
	padding: 11px 5px 5px 5px;
	color: #083772;
	text-align: justify;
	white-space: normal;
	font-weight: bold;
	font-size: 11px;
}
.notify-text a:visited,
.notify-text a:link,
.notify-text a:active {
	color: #083772;
}
.notify-text a:hover {
	color: #445566;
	text-decoration: underline !important;
}
.tooltip-text {
	float: left;
	padding: 0px 5px 5px 10px;
	color: #949494;
	text-align: justify;
	white-space: normal;
}