@charset "utf-8";
 body {
	margin: 0px;
	padding: 0px;
	background: #fff;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
a:focus {
	outline: none;
}
p {
	margin: 0px;
	padding: 0px;
}
#top {
	margin: auto 0px;
	padding: 0px;
	width: 100%;
	height: 55px;
	background-image: url(../images/top-bg-error.jpg);
	background-repeat: repeat-x;
}
#logo {
	float: left;
	margin-left: 30px;
	width: 174px;
	height: 55px;
	background-image: url(../images/deskera-logo.jpg);
	background-repeat: no-repeat;
}
.top-wapper {
	margin: auto;
	width: 970px;
}
#menu {
	float: right;
	width: 364px;
}
#menu ul {
	margin: 0;
	margin-top: 18px;
	padding: 0;
}
#menu li {
	display: inline;
	margin: 15px;
	padding: 0;
	height: 55px;
	list-style-type: none;
}
#menu a:link,
#menu a:visited {
	color: #0c3569;
	text-decoration: none;
}
#menu a:hover,
a:active {
	color: #A70808;
	text-decoration: none;
}
.pagenotfound {
	margin: auto;
	padding: 5px;
	width: 500px;
	background-color: #fff;
}
.error {
	margin: 0px;
	padding-right: 10px;
	padding-left: 14px;
	color: #333333;
	font-size: 22px;
}
.content-list {
	float: left;
	margin: 10px;
	padding: 5px 10px;
	width: 94%;
	border: solid 1px #e6e6e6;
	background: #FAFAFA;
}
.content-list p {
	padding: 10px 0 10px;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
}
.content-list ul {
	float: left;
	margin: 0px 10px 5px !important;
	padding: 3px 6px;
	list-style: none;
	list-style-type: none;
}
.content-list li {
	margin: 0;
	padding: 0 0 0 15px !important;
	color: #606060;
	line-height: 24px !important;
}
.highlight2 {
	padding: 3px;
	border-bottom: solid 1px #d1d1d1;
	background: #fff;
	color: #000000;
	font-weight: bold;
}
.error-hd {
	color: #0c3569;
}