/*view.css*/

#pmessage {
	float: left;
}
#calpanel {
	float: left;
}
#docpanel {
	float: left;
}
/*projChart.css*/

/*.x-grid3-row {
	height: 19px;
}
*/

/* Help content */

#dashhelp .helpHeader {
	padding-bottom: 0.5% !important;
	padding-left: 11% !important;
	color: #35332a;
}
#dashhelp .helpContent {
	padding-left: 11% !important;
	color: #676655;
	font-size: 10px;
}
#fcue-close {
	visibility: visible !important;
}
.radContainer {
	/*    padding-left: 5px;*/
	/*    margin-left: 25px;*/
	margin-top: 9px;
}
.x-panel-tl {
	display: none;
}
.centerCalDview {
	height: 100% !important;
}
.labelAlign {
	margin-left: 3px;
	font-size: 11px;
}
.padd {
	margin-top: 0;
	margin-right: 110px;
}
.calevtPanel {
	position: relative;
}
.searchleftbutton {
	margin-top: 1px !important;
}
.searchInput {
	margin-top: 1px !important;
}
.daycompCell {
	height: 28px;
}
.OneDayPanel {
	width: 14.2%;
}
.innerDiv {
	width: 14.2%;
}
.dportlet {
	width: 49.9%;
}
.dportletfull {
	width: 99.9%;
}
/*fix for field lable and input */

.x-form-element {
	position: static !important;
}
.x-form-element div,
.x-form-text {
	position: static !important;
}
.x-form-item label,
.x-form-item input {
	position: static !important;
}
.x-form-field-wrap img {
	position: static !important;
	vertical-align: middle;
}
.x-panel-tbar .x-btn button {
	width: 16px !important;
	/*changed by shri to fix buttons with icons*/
	text-align: left !important;
}
.x-panel-tbar .x-btn-center {
	text-align: left !important;
}
/* fix for datre picker image appearing misaligned  */

.x-form-trigger {
	position: fixed !important;
	top: -3;
	vertical-align: top !important;
}
.x-form-arrow-trigger {
	position: fixed !important;
	top: -3;
	vertical-align: top !important;
}
.x-form-date-trigger {
	position: fixed !important;
	top: -3;
	vertical-align: top !important;
}
.combo-addnew {
	margin-left: 3px !important;
}
.x-grid3 .combo-addnew {
	margin-left: 1px !important;
}
.x-form-element {
	/*        padding-top:4px !important;   */
}
.wiz-card6-fieldset {
	height: 65px;
}
.import-Wiz-fieldset {
	height: 90px;
}
.import-Wiz-fieldset .fieldset-item1 {
	padding-top: 40px !important;
}
.x-fieldset .fieldset-item,
.x-fieldset-body .fieldset-item {
	padding-top: 20px !important;
}
.wiz-card3-fieldset {
	height: 75px;
}
.wiz-card3-fieldset .right-column {
	margin-left: 310px !important;
}
.x-fieldset .fieldset3-item,
.x-fieldset-body .fieldset3-item {
	padding-top: 30px !important;
}
#nextID {
	float: right !important;
	padding-top: 16px !important;
}
.x-small-editor .x-form-field-wrap .x-form-trigger {
	/*Combo arrow button alignment issue*/
	margin-top: 1px;
}
.x-form-element div,
.x-form-element .x-form-invalid {
	position: fixed !important;
}
/* Neeraj added */

.x-form-invalid-icon {
	display: none !important;
}
.x-fieldset {
	min-height: 45px !important;
}
#dashhelp {
	width: 300px !important;
}
.fcue-t {
	visibility: visible !important;
}