.sibContDiv {
	float: left;
	margin-bottom: 7px;
	width: 100%;
}
.WAIT {
	background-color: white;
}
.UNS {
	background-color: #fff0f0;
}
.SUB {
	background-color: #efffee;
}
.sublink {
	float: left;
	width: 20%;
}
.subscriptionDiv,
.statusDiv {
	float: left;
	font-size: 12px;
}
.subscriptionDiv {
	width: 40%;
	color: green;
}
.statusDiv {
	width: 25%;
}
.linkPanelBorder div {
	margin-top: 1px;
}
.linkPanelBorder div {
	border: 0px solid !important;
}
.linkPanelBorder a {
	margin-left: 5px;
	color: blue;
	cursor: pointer;
}
/*patch for chrome*/

textarea {
	resize: none;
}
.inviteFieldSet {
	margin-left: 0px !important;
	/*    margin-top: 10px !important;*/
}
.fieldContainerClass {
	padding-bottom: 6px;
	padding-left: 120px !important;
}
.companyFieldSet .wtf-el-mask {
	background-color: white !important;
}
.companyFieldSet {
	margin-top: 16px !important;
	margin-right: 10% !important;
	margin-left: 20px !important;
	width: 70%;
	border: 0px solid red !important;
}
.inviteFieldSet {
	margin-top: 10px !important;
	margin-left: 0px !important;
}
.timeFieldSet {
	float: left;
	margin-top: 16px !important;
	margin-right: auto !important;
	margin-left: 20px !important;
	width: 350px;
}
.adminButton {
	width: 60px !important;
}
.adminWinCont {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}
.adminWinImgDiv {
	position: relative;
	float: left;
	width: auto;
	height: 100%;
}
.adminWinImg {
	margin: 5px 5px 5px 5px;
	width: 40px;
	height: 52px;
}
.adminWinDesc {
	position: relative;
	float: left;
	width: 80%;
	height: 100%;
}
.adminWinTitle {
	position: relative;
	float: left;
	margin: 20px 0 0 10px;
	width: 100%;
	font-style: bold;
	font-size: 12px;
}
.adminWinAbout {
	position: relative;
	float: left;
	margin: 15px 0 0 10px;
	width: 100%;
	font-size: 10px;
}
.wtfbutton {
	position: relative;
	top: 0;
	left: 0;
	float: left;
	margin: 5px;
	width: 72px;
	height: 91px;
	color: #fff;
	list-style-type: none;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
}
a:active {
	outline: none;
}
a:focus {
	-moz-outline-style: none;
}
.wtfbutton img {
	overflow: hidden;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.wtfbutton span.label,
.wtfbutton span.labelShadow {
	position: absolute;
	padding: 0 1px;
	width: 70px;
	text-align: center;
	cursor: pointer;
}
.wtfbutton span.label {
	top: 65px;
	left: 0;
	z-index: 2;
}
.wtfbutton span.labelShadow {
	top: 66px;
	left: 1px;
	color: #215186;
}
.wtfbuttonTrans {
	position: absolute;
	z-index: 10000;
	float: left;
	margin: -37px 0;
	width: 71px;
	height: 90px;
}
#images-view .x-panel-body {
	background: white;
}
#images-view .thumb,
#images .thumb {
	padding: 3px;
	background: #dddddd;
}
#images-view .thumb img,
#images .thumb img {
	width: 80px;
	height: 60px;
}
#images-view .thumb-wrap,
#images .thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span,
#images .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
}
#images-view .x-view-over {
	padding: 4px;
	border: 1px solid #dddddd;
	background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
}
#images-view .x-view-selected {
	padding: 4px;
	border: 1px solid #99bbe8;
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
}
#images-view .x-view-selected .thumb {
	background: transparent;
}
#images-view .loading-indicator {
	margin: 10px;
	padding-left: 20px;
	background-image: url('../../resources/images/default/grid/loading.gif');
	background-position: left;
	background-repeat: no-repeat;
	font-size: 11px;
}
#images {
	background: #fff url(../tree/center-bg.gif ) repeat-x top left;
}
#images .thumb img {
	border: 1px solid white;
}
#images .x-view-selected .thumb {
	background: #8db2e3;
}
.savebutton {
	margin: 0 8px 0 0;
}
.tagwindow {
	width: 285px;
	height: auto;
	border: none;
}
.About {
	height: 70px;
}
.tabimage {
	margin: 0 16px 0 0;
	width: 100px;
	height: 100px;
}
.addtagbutton {
	cursor: pointer;
}
.mytagspan {
	margin-right: 3px;
	cursor: pointer;
}
.tagselected {
	background-color: #ffffc0;
}
.taghovered {
	background-color: #ffffee;
}
.taghdr {
	float: left;
	width: 54px;
	font-weight: bold;
}
.addppl {
	background-position: 0 -318px !important;
}
.shared {
	background-position: 0 -577px !important;
}
.settings {
	background-position: 0 -338px !important;
}
.settingswt {
	background-position: 0 -340px !important;
}
.create {
	background-image: url(../images/btn_add_quick.gif) !important;
}
.edittags {
	background-position: 0 -818px !important;
}
#tabdashboard .x-column-inner {
	height: 100% !important;
}
/*TravelManager*/

#tabtmdashboard .x-column-inner {
	height: 100% !important;
}
.tmItemsWrap {
	padding-bottom: 1px;
	padding-left: 20px;
	background: no-repeat 0 -1px;
}
.tmItemsWrap {
	background-image: url(../images/itemrnd.gif);
}
.expensesWrap,
.clientWrap,
.scheduleWrap,
.costcenterWrap,
.userMWrap {
	padding-bottom: 3px;
	padding-left: 20px;
	background: no-repeat 0 1px;
}
.accountsWrap,
.docsMWrap,
.groupWrap,
.tripsWrap,
.reportsWrap,
.leaveStatusWrap,
.travelAgentWrap {
	padding-bottom: 3px;
	padding-left: 20px;
	background: no-repeat 0 1px;
}
.reportsWrap {
	background-image: url(../images/report.gif);
}
.travelAgentWrap {
	background-image: url(../images/group.jpg);
}
.expensesWrap {
	background-image: url(../images/coins.jpg);
}
.clientWrap {
	background-image: url(../images/client.jpg);
}
.scheduleWrap {
	background-image: url(../images/schedule.jpg);
}
.costcenterWrap {
	background-image: url(../images/costcenter.jpg);
}
.userMWrap {
	background-image: url(../images/user.gif);
}
.accountsWrap {
	background-image: url(../images/costcenter.gif);
}
.docsMWrap {
	background-image: url(../images/docs.gif);
}
.groupWrap {
	background-image: url(../images/group.jpg);
}
.tripsWrap {
	background-image: url(../images/Save.gif);
}
/* TRAVEL MANAGER CSS ENDS: */

/*LeaveManager*/

#tableavedashboard .x-column-inner {
	height: 100% !important;
}
.leaveStatusWrap {
	background-image: url(../images/leavem/leaveM.png);
}
/* LEAVE MANAGER CSS ENDS: */

.x-column-inner {
	width: 100% !important;
        height: auto;
}
.dash,
.dash-bwrap,
.dash-body,
.x-plain-bwrap {
	height: 100% !important;
}
.columndash {
	width: 33%;
	height: 100%;
}
.dashpanel {
	padding-bottom: 16px;
	height: 45% !important;
	background: transparent;
}
.x-panel-body p {
	margin: 5px;
}
.x-column-layout-ct .x-panel-dd-spacer {
	margin-bottom: 10px;
}
.x-column-layout-ct .x-panel-ml,
.x-column-layout-ct .x-panel-bl {
	padding-left: 2px;
}
.x-column-layout-ct .x-panel-mr,
.x-column-layout-ct .x-panel-br {
	padding-right: 2px;
}
.x-column-layout-ct .x-panel-mc {
	padding-top: 2px;
}
.x-column-layout-ct .x-panel-bc .x-panel-footer {
	padding-bottom: 2px;
}
.x-column-layout-ct .x-panel-nofooter .x-panel-bc {
	height: 2px;
}
#search-results a {
	color: #385F95;
	text-decoration: none;
}
#search-results a:hover {
	text-decoration: underline;
}
#search-results .search-item {
	padding: 5px;
}
#search-results p {
	margin: 3px !important;
}
#search-results {
	overflow: auto;
	margin: 0 1px;
	height: 300px;
	border-bottom: 1px solid #ddd;
}
#search-results .x-toolbar {
	border: 0 none;
}
.readAreaClass {
	position: relative;
	overflow: auto;
	width: 100%;
	/*height: 124px; */
	height: 100%;
	background-color: white;
}
.K-icon {
	background-image: url(../images/Online.png);
}
.K-iconOffline {
	background-image: url(../images/Offline.png);
}
.wrappertemplate,
.wrapperUInfo {
	position: relative;
	padding: 1%;
	width: 97%;
	background-color: #dfe8f6;
}
.wrappertemplate {
	margin: 1%;
	height: 11%;
}
.wrapperUInfo {
	margin-left: 1%;
	height: 70px;
}
.onlineClass,
.offlineClass {
	position: relative;
	float: left;
	margin: 2px;
	width: 70%;
	font-size: 7.5pt;
}
.offlineClass {
	color: gray;
}
.onlineClass {
	color: green;
}
.sdivclass {
	float: left;
	background-color: #dfe8f6;
}
.collapse,
.collapse-toggle {
	float: left;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.collapse {
	background: transparent url(../lib/resources/images/tool-sprites.gif) no-repeat scroll 0 -75px;
}
.collapse-toggle {
	background: transparent url(../lib/resources/images/tool-sprites.gif) no-repeat scroll 0 -120px;
}
.header {
	overflow: hidden;
	padding: 3px 2px 2px 3px;
	background: #dde7ee;
	color: #00156e;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	font-size-adjust: none;
	font-stretch: normal;
	font-size: 11px;
	line-height: 15px;
}
.btndiv {
	float: right;
}
.nxtBtnDivout,
.nxtBtnDivover,
.nxtBtnDivNone {
	float: left;
	margin-left: 2px;
	width: 16px;
	height: 16px;
}
.nxtBtnDivout {
	background: url('../images/4-16px.png') no-repeat;
}
.nxtBtnDivover {
	background: url('../images/6-16px.png') no-repeat;
	cursor: pointer;
}
.nxtBtnDivNone {
	background: url('../images/2-16px.png') no-repeat;
}
.preBtnDivout,
.preBtnDivover,
.preBtnDivNone {
	float: left;
	margin-right: 2px;
	width: 16px;
	height: 16px;
}
.preBtnDivout {
	background: url('../images/3-16px.png') no-repeat;
}
.preBtnDivover {
	background: url('../images/5-16px.png') no-repeat;
	cursor: pointer;
}
.preBtnDivNone {
	background: url('../images/1-16px.png') no-repeat;
	cursor: pointer;
}
.headercontent,
.label {
	float: left;
}
.headercontent {
	width: 100%;
}
.label {
	width: auto;
}
.pagging {
	float: right;
	margin-right: 4px;
}
.container {
	background-color: transparent;
}
.loading {
	float: left;
	width: auto;
	height: auto;
	font-size: 12px;
}
.x-panel-body-noborder-KWL {
	height: auto;
	border: none;
}
.wtfbulletlist {
	float: left;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 100%;
	color: #ffffff;
	font-size: 11px;
}
.wftbulletlist tbody {
	float: left;
	width: 100%;
}
.wtfbulletlist td img.bullet {
	margin: 0;
	padding: 0;
}
.wtfbulletlist td.titletd,
.wtfbulletlist td.titletd div {
	margin: 0;
	padding: 0;
	width: 100%;
}
.wtfalert {
	position: relative;
	top: 0;
	left: 0;
	float: left;
	margin: 6.5px;
	width: 95%;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
}
.wtfalert img {
	overflow: hidden;
	width: 16px;
	height: 16px;
}
.wtfalert span.label,
.wtfalert span.labelShadow {
	position: absolute;
	margin-top: -3px;
	padding: 0 5px;
	width: 92%;
}
.wtfalert span.label {
	top: 3px;
	left: 15px;
	z-index: 2;
	cursor: pointer;
}
.wtfalert span.labelShadow {
	top: 4px;
	left: 16px;
	color: #215186;
}
.forum_plus,
.forum_minus,
.forum_blank {
	display: block;
	float: left;
	margin-left: 3px;
	width: 15px;
	height: 13px;
}
.forum_blank {
	background: url('../lib/resources/images/default/s.gif') no-repeat center;
}
.forum_postImage {
	display: block;
	float: left;
	margin-left: 3px;
	background-position: center;
}
.forum_defaultText {
	float: left;
	margin-left: 3px;
	min-width: 25%;
}
.MyTabPanel {
	width: 100%;
	height: 100%;
}
.msgTop {
	width: 99%;
	height: 189px;
	border: solid 4px #5b84ba;
}
.tabadd {
	width: 100% !important;
	height: 100% !important;
}
.msginsideTop {
	margin-right: 5px;
	margin-left: 20px;
	width: 97% !important;
	height: 50px;
	border-bottom: solid 1px gray;
}
.msginsideTop1 {
	overflow: auto;
	padding: 2%;
	width: 80% !important;
	height: 90% !important;
	font-weight: bold;
}
.msginsideCenter {
	margin: 10px 0 0 1px;
	width: 90%;
	height: 60px;
	color: #15428b;
	font-weight: bold;
	font-size: 10pt;
}
.composemail {
	background-position: 0 -876px !important;
}
.htmledit {
	width: 98%;
	height: 98%;
}
.smiley {
	background-image: url(../images/smiley1.gif) !important;
}
.closeicon {
	background-position: 0 -1118px !important;
}
.forum_fromdiv {
	float: left;
	margin-top: 3px;
	margin-left: 24px;
	padding-top: 7px;
	min-height: 15px;
	width: 35%;
	color: black;
	font-weight: normal;
}
.sendmsg,
.invite {
	background-position: 0 -1218px !important;
}
.sendmsgwt {
	background-position: 0 -1220px !important;
}
.compose {
	background-position: 0 -178px !important;
}
.outbox {
	background-position: 0 -198px !important;
}
.outboxCx {
	background-position: 0 -200px !important;
}
.x-tree-selected {
	background: #dfe8f6;
}
.x-tree-node-icon {
	height: 16px !important;
}
.x-tree-node .x-tree-selected a span {
	background: transparent;
	color: #15428b;
	font-weight: bold;
}
.post-date {
	color: #333;
	font-weight: bold;
}
.x-tree {
	background: #fff !important;
}
.tab1BaseClass-body {
	position: absolute !important;
	height: 100% !important;
}
.msg x-box-mc {
	font-size: 14px;
}
#msg-div {
	position: absolute;
	z-index: 6000;
	width: 250px;
}
.starImgDiv,
.forum_flag {
	vertical-align: middle;
}
.removeCom {
	background-position: 0 -1238px !important;
}
.addresource {
	background-position: 0 -1261px !important;
}
.editresource {
	background-position: 0 -1485px !important;
}
.deleteresource {
	background-position: 0 -1281px !important;
}
.dropMember {
	background-position: 0 -1523px !important;
}
.setActiveMember {
	background-position: 0 -1546px !important;
}
.inviteUsericon {
	background-position: 0 -1567px !important;
}
.requests {
	background-position: 0 -38px !important;
}
.setModerator {
	background-position: 0 -1260px !important;
}
.remModerator {
	background-position: 0 -1280px !important;
}
.editUser {
	background-position: 0 -1485px !important;
}
.changePwd {
	background-position: 0 -1733px !important;
}
.setModerator {
	background-position: 0 -1258px !important;
}
.remModerator {
	background-position: 0 -1278px !important;
}
.setFeatured {
	background-position: 0 -138px !important;
}
.tagtitle {
	font-weight: bold;
}
.taga {
	margin-left: 5px;
	color: #fff;
	text-decoration: none;
}
.taga:hover {
	background-color: #ffe;
	color: #000;
}
/* TBD, new stuff */

.dashboardLayout,
.listpanelcontent {
	padding: 8px;
}
.permicon {
	background-position: 0 -857px !important;
}
.managericon {
	background-position: 0 -17px !important;
}
.listpanelcontent {
	color: black;
	font-size: 13px;
}
.statusTextWrap {
	color: DarkSlateGray;
	/* padding-left:10px;*/
}
.statusTableWrap {
	padding: 8px;
	color: DarkSlateGray;
	font-size: 11px;
	/* padding-left:10px;*/
}
.statusTableWrap th {
	text-align: right;
	font-weight: bold;
	line-height: 25px;
}
.statusTableWrap td {
	padding: 3px;
	border-bottom: 1px solid #EEEEEE;
	text-align: right;
}
.holidayDelete {
	/*float:left;*/
	margin-top: 2px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}
.holidaySpan {
	/*float: left;
    margin-right: 3px;
    */
	overflow: hidden;
}
.holidayDiv {
	display: block;
	float: left;
	width: 300px;
	border-bottom: 1px solid #999999;
	color: black;
}
.holidayspanwidth {
	width: 150px;
}
.dportlet {
	width: 50%;
}
.listpanelheader {
	margin: 8px 8px 0 8px;
	padding: 2px;
}
.announcementWrap,
.requestWrap,
.qLinksWrap,
.userEvtWrap {
	padding-bottom: 3px;
	padding-left: 20px;
	background: no-repeat 0 2px;
}
.announcementWrap {
	background-image: url(../images/announce.gif);
}
.requestWrap {
	background-image: url(../images/alert.gif);
}
.userEvtWrap {
	background-image: url(../images/calendar12.gif);
}
.qLinksWrap,
.welcomeTxt h2 {
	background: url(../images/bullet2.gif) no-repeat 0 0;
}
.anElem {
	color: white;
}
.anElem:hover {
	/*background: #fbd76d url(../images/alertbackground.png) repeat-y 0 0;*/
}
.anElem strong {
	font-weight: bold;
}
.uitem {
	width: 100%;
	height: 20px;
}
.utitle {
	margin-right: 2px;
	background: url(../lib/resources/images/default/layout/stick.gif) no-repeat right;
	font-weight: bold;
}
.ucontent {
	position: absolute;
	z-index: 20000;
	display: none;
	clear: both;
	padding: 2%;
	width: 96%;
	background-color: #ffffe1;
	color: black;
}
.ttt {
	padding: 2%;
	color: white;
}
.ucontentwrapper {
	position: relative;
	top: 0px;
}
.rort {
	padding-top: 4px;
	padding-left: 4px;
}
.upelem {
	padding: 3px 20px;
	background-position: 0 4px;
	background-repeat: no-repeat;
}
.elImg-0,
.elImg-5 {
	background-image: url(../images/Notes12.gif);
}
.elImg-1 {
	background-image: url(../images/document12.gif);
}
.elImg-2 {
	background-image: url(../images/project12.gif);
}
.elImg-3 {
	background-image: url(../images/community12.gif);
}
.elImg-4 {
	background-image: url(../images/calendar12.gif);
}
.elImg-6 {
	background-image: url(../images/user12.gif);
}
.centered {
	text-align: center;
}
.welcomeTxt {
	text-align: justify;
}
.welcomeTxt h2 {
	padding: 1px 16px;
	color: #083772;
}
.wtElem {
	margin: 4px;
}
.imgMid {
	width: 12px;
	height: 12px;
	vertical-align: middle;
}
.projlist li {
	padding-left: 16px;
	background: url(../images/project12.gif) no-repeat scroll left bottom;
}
.tasklist {
	padding-left: 16px;
	background: url(../images/Notes12.gif) no-repeat scroll left bottom;
}
.commlist li {
	padding-left: 16px;
	background: url(../images/community12.gif) no-repeat scroll left bottom;
}
.redflag {
	float: left;
	width: 10px;
	height: 10px;
	background: url('../images/FlagRed.gif') no-repeat center;
}
.greyflag {
	float: left;
	width: 10px;
	height: 10px;
	background: url('../images/FlagGrey.gif') no-repeat center;
}
.holidayDelete {
	float: left;
	margin-top: 2px;
	width: 12px;
	height: 12px;
	cursor: pointer;
}
.holidaySpan {
	float: left;
	overflow: hidden;
	margin-right: 3px;
}
.holidayDiv {
	display: block;
	float: left;
	width: 300px;
	border-bottom: 1px solid #999999;
	color: black;
}
.holidayspanwidth {
	width: 150px;
}
.transectionWrap {
	padding-bottom: 3px;
	padding-left: 20px;
	background: no-repeat;
}
.transectionWrap {
	background-image: url(../images/dollar.gif);
}
.alertWrap {
	padding-bottom: 3px;
	padding-left: 20px;
	background: transparent none no-repeat scroll 0 1px;
}
.alertWrap {
	background-image: url(../images/alert.png);
}
.reportWrap {
	padding-bottom: 3px;
	padding-left: 20px;
	background: transparent none no-repeat scroll 0 1px;
}
.reportWrap {
	background-image: url(../images/browser.jpg);
}
.companyWrap {
	padding-bottom: 3px;
	padding-left: 20px;
	background: transparent none no-repeat scroll 0 1px;
}
.companyWrap {
	background-image: url(../images/FriendTab.png);
}