/*
	Document   : webkit
	Created on : Feb 28, 2013, 12:40:17 PM
	Author     : Nilesh
	Description:
		Used for webkit browsers only. (chrome and safari all versions)
*/

/* Width fix for widget quick add (dashboard.css)*/

.x-date-picker {
	width: 50px;
}