<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
        <bean id="accVendorDao" class="com.krawler.spring.accounting.vendor.accVendorDAOImpl">
        <property name="sessionFactory">
            <ref bean="mySessionFactory"/>
        </property>
    </bean>
    <bean id="accVendorController" class="com.krawler.spring.accounting.vendor.accVendorController">
        <property name="txnManager">
            <ref bean="txManager"/>
        </property>
        <property name="accVendorDAO">
            <ref bean="accVendorDao"/>
        </property>
        <property name="accAccountDAO">
            <ref bean="accAccountDao"/>
        </property>
        <property name="accountingHandlerDAO">
            <ref bean="accountHandlerDao"/>
        </property>
        <property name="auditTrailDAO">
            <ref bean="auditTraildao"/>
        </property>
        <property name="exportMPXDAOImpl">
            <ref bean="exportMPXdao"/>
        </property>
        <property name="importHandler">
            <ref bean="importHandler"/>
        </property>
        <property name="kwlCommonTablesDAO">
            <ref bean="kwlCommonTablesdao"/>
        </property>
        <property name="accVendorControllerService">
            <ref bean="accVendorControllerService"/>
        </property>
         <property name="companyDetailsDAO">
            <ref bean="companyDetailsdao"/>
         </property>
         <property name="fieldDataManager">
             <ref bean="fieldDatamanagernew"/>
         </property>
         <property name="accMasterItemsDAO">
            <ref bean="accMasterItemsDao"/>
        </property>
        <property name="successView">
            <value>jsonView</value>
        </property>
    </bean>
    <bean id="accVendorControllerService" class="com.krawler.spring.accounting.vendor.accVendorControllerServiceImpl">
        <property name="txnManager">
            <ref bean="txManager"/>
        </property>
        <property name="accVendorDAO">
            <ref bean="accVendorDao"/>
        </property>
        <property name="accountingHandlerDAO">
            <ref bean="accountHandlerDao"/>
        </property>
        <property name="kwlCommonTablesDAO">
            <ref bean="kwlCommonTablesdao"/>
        </property>
        <property name="fieldDataManager">
            <ref bean="fieldDatamanagernew"/>
        </property>
        <property name="successView">
            <value>jsonView</value>
        </property>
    </bean>
        <bean id="accVendorService" class="com.krawler.hql.accounting.vendor.service.AccVendorServiceImpl"> 
        <property name="accVendorDAO">
            <ref bean="accVendorDao"/>
        </property>
        <property name="kwlCommonTablesDAO">
            <ref bean="kwlCommonTablesdao"/>
        </property>
    </bean>
</beans>