<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="accReceiptDao" class="com.krawler.spring.accounting.receipt.accReceiptImpl" parent="baseDAO">
        <property name="accCurrencyDAOobj">
            <ref bean="accCurrencyDao"/>
        </property>
    </bean>

    <bean id="accReceiptController" class="com.krawler.spring.accounting.receipt.accReceiptController">
        <property name="txnManager">
            <ref bean="txManager"/>
        </property>
        <property name="accReceiptDAO">
            <ref bean="accReceiptDao"/>
        </property>
        <property name="accJournalEntryDAO">
            <ref bean="accJournalEntryDao"/>
        </property>
        <property name="accCurrencyDAO">
            <ref bean="accCurrencyDao"/>
        </property>
        <property name="accPaymentDAO">
            <ref bean="accPaymentDao"/>
        </property>
        <property name="accCompanyPreferencesDAO">
            <ref bean="accCompanyPreferencesDao"/>
        </property>
        <property name="accountingHandlerDAO">
            <ref bean="accountHandlerDao"/>
        </property>
        <property name="auditTrailDAO">
            <ref bean="auditTraildao"/>
        </property>
        <property name="exportMPXDAOImpl">
            <ref bean="exportMPXdao"/>
        </property>
        <property name="accTaxDAO">
            <ref bean="accTaxDao"/>
        </property>
        <property name="accBankReconciliationDAO">
            <ref bean="accBankReconciliationDao"/>
        </property>
        <property name="fieldDataManager">
            <ref bean="fieldDatamanagernew"/>
        </property>
        <property name="accAccountDAO">
            <ref bean="accAccountDao"/>
        </property>
        <property name="accInvoiceDAO">
            <ref bean="accInvoiceDao"/>
        </property>
        <property name="accCustomerDAO">
            <ref bean="accCustomerDao"/>
        </property>
        <property name="accCommonTablesDAO">
            <ref bean="accCommonTablesDAO"/>
        </property>
        <property name="importHandler">
            <ref bean="importHandler"/>
        </property>
        <property name="importDAO">
            <ref bean="importDao"/>
        </property>
        <property name="accPaymentService">
            <ref bean="accPaymentService"/>
        </property>
        <property name="accMasterItemsDAO">
            <ref bean="accMasterItemsDao"/>
        </property>
        <property name="successView">
            <value>jsonView</value>
        </property>
    </bean>
    <bean id="accReceiptControllerNew" class="com.krawler.spring.accounting.receipt.accReceiptControllerNew">
        <property name="txnManager">
            <ref bean="txManager"/>
        </property>
        <property name="accReceiptDAO">
            <ref bean="accReceiptDao"/>
        </property>
        <property name="accJournalEntryDAO">
            <ref bean="accJournalEntryDao"/>
        </property>
        <property name="accReceivePaymentModuleServiceObj">
            <ref bean="AccReceivePaymentModuleService"/>
        </property>
        <property name="accCurrencyDAO">
            <ref bean="accCurrencyDao"/>
        </property>
        <property name="accPaymentDAO">
            <ref bean="accPaymentDao"/>
        </property>
        <property name="accCompanyPreferencesDAO">
            <ref bean="accCompanyPreferencesDao"/>
        </property>
        <property name="accountingHandlerDAO">
            <ref bean="accountHandlerDao"/>
        </property>
        <property name="auditTrailDAO">
            <ref bean="auditTraildao"/>
        </property>
        <property name="accTaxDAO">
            <ref bean="accTaxDao"/>
        </property>
        <property name="accBankReconciliationDAO">
            <ref bean="accBankReconciliationDao"/>
        </property>
        <property name="fieldDataManager">
            <ref bean="fieldDatamanagernew"/>
        </property>
        <property name="accAccountDAO">
            <ref bean="accAccountDao"/>
        </property>
        <property name="accInvoiceDAO">
            <ref bean="accInvoiceDao"/>
        </property>
        <property name="accCustomerDAO">
            <ref bean="accCustomerDao"/>
        </property>
        <property name="importHandler">
            <ref bean="importHandler"/>
        </property>
        <property name="importDAO">
            <ref bean="importDao"/>
        </property>
        <property name="accPaymentService">
            <ref bean="accPaymentService"/>
        </property>
        <property name="accGoodsReceiptobj">
            <ref bean="accGoodsReceiptDao"/>
        </property>
        <property name="successView">
            <value>jsonView</value>
        </property>
        <property name="kwlCommonTablesDAO">
            <ref bean="kwlCommonTablesdao"/>
        </property> 
    </bean>
    
    <bean id="AccReceivePaymentModuleService" class="com.krawler.spring.accounting.receivepayment.service.AccReceivePaymentModuleServiceImpl">
        <property name="txnManager">
            <ref bean="txManager"/>
        </property>
        <property name="accVendorDAO">
            <ref bean="accVendorDao"/>
        </property>
        <property name="accReceiptDAO">
            <ref bean="accReceiptDao"/>
        </property>
        <property name="accJournalEntryDAO">
            <ref bean="accJournalEntryDao"/>
        </property>
        <property name="accPaymentDAO">
            <ref bean="accPaymentDao"/>
        </property>
        <property name="accCurrencyDAO">
            <ref bean="accCurrencyDao"/>
        </property>
        <property name="importDAO">
            <ref bean="importDao"/>
        </property>
        <property name="accCustomerDAO">
            <ref bean="accCustomerDao"/>
        </property>
        <property name="importHandler">
            <ref bean="importHandler"/>
        </property>
        <property name="accSalesOrderServiceobj">
            <ref bean="accSalesOrderService"/>
        </property>
        <property name="accCompanyPreferencesDAO">
            <ref bean="accCompanyPreferencesDao"/>
        </property>
        <property name="accountingHandlerDAO">
            <ref bean="accountHandlerDao"/>
        </property>
        <property name="auditTrailDAO">
            <ref bean="auditTraildao"/>
        </property>
        <property name="accBankReconciliationDAO">
            <ref bean="accBankReconciliationDao"/>
        </property>
        <property name="fieldDataManager">
            <ref bean="fieldDatamanagernew"/>
        </property>
        <property name="accAccountDAO">
            <ref bean="accAccountDao"/>
        </property>
        <property name="accInvoiceDAO">
            <ref bean="accInvoiceDao"/>
        </property>
        <property name="accCommonTablesDAO">
            <ref bean="accCommonTablesDAO"/>
        </property>
        <property name="accMultiLevelApprovalDAOObj">
            <ref bean="accMultiLevelApprovalDAO"/>    
        </property>       
        <property name="journalEntryModuleServiceobj">
            <ref bean="accJournalEntryModuleService"/>
        </property> 
        <property name="authHandlerDAOObj">
            <ref bean="authHandlerdao"/>
        </property> 
        <property name="accMasterItemsDAOObj">
            <ref bean="accMasterItemsDao"/>
        </property> 
        <property name="accInvoiceModuleService">
            <ref bean="accInvoiceModuleService"/>
        </property>  
        <property name="fieldManagerDAO">
            <ref bean="fieldManagerDaonew"/>
        </property> 
        <property name = "commonFnControllerService">
            <ref bean="commonFnControllerService"/>
        </property>
        <property name="kwlCommonTablesDAO">
            <ref bean="kwlCommonTablesdao"/>
        </property>
    </bean>
    
</beans>
