<tr><td>
    <TABLE bordertype="border8" id = "idLineitemTabel" border="0" class ="lineitemtablewrap" style="border-collapse:separate;width:$tablewidth%; margin:$margin;">  
 <thead>   
        <TR>
        #set($hCount = 0)
        #foreach( $header1 in $tableHeader )  
            #if($hCount==0)
                <TH bgcolor="$bordercolor" align="$align" style="$header1.style border: 1px solid;border-right:none;">$header1.data</TH>  
            #elseif($hCount == $headerCount ) 
                <TH bgcolor="$bordercolor" align="$align" style="$header1.style border: 1px solid;border-left:none;">$header1.data</TH>  
            #else
                <TH bgcolor="$bordercolor" align="$align" style="$header1.style" class="removeverticalborder">$header1.data</TH>  
            #end
            #set($hCount = $hCount+1)
        #end  
        </TR>
</thead>  
<tbody>
        #if ( $isFirstRowPresent) 
            $lineItemFirstRowHTML
        #end
        #foreach( $prod in $prodList )  
          <TR style="padding: 4px;">
            #foreach( $CustomDesignLineItemProp in $prod )
                    <TD style="padding: 0 4px;vertical-align:$CustomDesignLineItemProp.valign;" align="$CustomDesignLineItemProp.align">$CustomDesignLineItemProp.data</TD>  
            #end  
          </TR>
        #end  
        #if ($isLastRowPresent)
         $lineItemLastRowHTML
        #end
        #if ( $showtotal ) 
            #foreach( $prod in $totalList )  
            <TR style="padding: 4px;" id="totalrow">  
                #foreach( $CustomDesignLineItemProp in $prod )  
                    #if($CustomDesignLineItemProp.data)
                        <TD style="padding: 4px ;font-weight: bold ;" align="$CustomDesignLineItemProp.align">$CustomDesignLineItemProp.data</TD>  
                    #end
                #end  
            </TR>  
            #end 
       #end
       #if ( $issummarytable ) 
            #foreach( $prod in $summaryTable )  
            <TR style="padding: 4px">  
                #foreach( $SummaryTableCellProperty in $prod )  
                    <TD style="$SummaryTableCellProperty.style" rowspan="$SummaryTableCellProperty.rowspan" colspan="$SummaryTableCellProperty.colspan" >$SummaryTableCellProperty.data</TD>  
                #end  
            </TR>  
            #end 
       #end
</tbody>
    </TABLE>
</td></tr>