<tr><td><div class='middlediv' style="position:relative; width:900px;padding-top:$tabletoppadding;padding-left:$left;">
    <TABLE width="$width" border="1" style="border-right: 1px solid $tablebordercolor;border-bottom: 1px solid $tablebordercolor; border-left: 1px solid $tablebordercolor; border-top: 1px solid $tablebordercolor;border-collapse:collapse;font-family:$fontfamily;vertical-align:top" cellspacing="0" cellpadding="4">  
         <thead> 
<TR>  
        #foreach( $header1 in $tableHeader )  
            <TH width="$header1.width" bgcolor="$header1.bgcolor" align="$header1.align" style="padding: 0.5em;border: 1px solid $tablebordercolor; border-left: 0px none;border-right: 0px none;">$header1.data</TH>  
        #end  
        </TR>
</thead>    
        #foreach( $prod in $prodList )  
<tbody>
          <TR style="padding: 0.5em;">  
            #foreach( $CustomDesignLineItemProp in $prod )  
                <TD style="padding: 0.5em;border-bottom: 1px solid $tablebordercolor;border-left: 0px none;border-right:0px none;vertical-align:top;padding-top: 0; " align="$CustomDesignLineItemProp.align">$CustomDesignLineItemProp.data</TD>  
            #end  
          </TR> 
</tbody> 
        #end 
        #if ( $showtotal ) 
            #foreach( $prod in $totalList )  
            <TR style="padding: 0.5em;">  
                #foreach( $CustomDesignLineItemProp in $prod )  
                    <TD style="padding: 0.5em; border-bottom: 1px solid $tablebordercolor;border-left: 0px none;border-right:0px none;font-weight: bold "  align="$CustomDesignLineItemProp.align">$CustomDesignLineItemProp.data</TD>  
                #end  
            </TR>  
            #end 
       #end 
    </TABLE> 
</div></td></tr>
