<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
                </context-param>-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:config/applicationContextList.xml</param-value>
    </context-param>
    <!--    <servlet>
	  <servlet-name>context</servlet-name>
	  <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
	</servlet>-->
    <listener>
        <listener-class>com.krawler.common.filters.RequestListenerForDB</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:config/dispatcher-servlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/props/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>iphone</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:config/iphone-servlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>iphone</servlet-name>
        <url-pattern>/deskeraAccounting.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productimage</servlet-name>
        <servlet-class>com.krawler.spring.accounting.product.ProductImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productimage</servlet-name>
        <url-pattern>/productimage</url-pattern>
    </servlet-mapping>
    <!-- <context-param>
		<param-name>serverName</param-name>
		<param-value>http://accounting.deskera.com</param-value>
	</context-param>
	<context-param>
		<param-name>casServerUrlPrefix</param-name>
		<param-value>https://apps.deskera.com/auth/</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLoginUrl</param-name>
		<param-value>https://apps.deskera.com/auth/login</param-value>
	</context-param>
	<context-param>
		<param-name>casServerLogoutUrl</param-name>
    	<param-value>https://apps.deskera.com/auth/logout</param-value>
	</context-param>
	<context-param>
		<param-name>companyRedirectionPattern</param-name>
    	<param-value>/a/([^\/]*)/(.*)</param-value>
	</context-param>
	<filter>
   		<filter-name>CAS Single Sign Out Filter</filter-name>
   		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
 	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>renew</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>redirectAfterValidation</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	<filter-mapping>
   		<filter-name>CAS Single Sign Out Filter</filter-name>
   		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/a/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener> -->
    <session-config>
        <session-timeout>
            720
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>WARN</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/a/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/b/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProfileImages</servlet-name>
        <servlet-class>com.krawler.esp.servlets.ProfileImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileImages</servlet-name>
        <url-pattern>/images/store/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bind</servlet-name>
        <servlet-class>org.mortbay.cometd.continuation.ContinuationCometdServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>bind</servlet-name>
        <url-pattern>/bind/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>crmURL</param-name>
        <param-value>http://192.168.0.21:8080/stagingcrm/</param-value>
    </context-param>
    <context-param>
        <param-name>posURL</param-name>
        <param-value>http://192.168.0.21:8080/POS/</param-value>
    </context-param>
    <context-param>
        <param-name>pmURL</param-name>
        <param-value>http://192.168.0.21:8080/stagingpm/</param-value>
    </context-param>
    <context-param>
        <param-name>eclaimURL</param-name>
        <param-value>http://192.168.0.21:8080/stagingeclaims/</param-value>
    </context-param>
    <context-param>
        <param-name>platformURL</param-name>
        <param-value>http://192.168.0.21:8080/ondemand/</param-value>
    </context-param>
                
    <context-param>
        <param-name>platformURLProtocolNeutral</param-name>
        <param-value>//192.168.0.21:8080/ondemand/</param-value>
    </context-param>
    <context-param>
        <param-name>inventoryURL</param-name>
        <param-value>http://192.168.0.21:8080/InventorySms/</param-value>
    </context-param>
    <context-param>
        <param-name>lmsURL</param-name>
        <param-value>http://192.168.0.21:8080/lms/</param-value>
    </context-param>
    <servlet>
        <servlet-name>video</servlet-name>
        <servlet-class>com.krawler.esp.servlets.StreamVideo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dddefaulttemplateimageload</servlet-name>
        <servlet-class>com.krawler.esp.servlets.DefaultTemplateImageLoad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dddefaulttemplateimageload</servlet-name>
        <url-pattern>/defaulttemplateimageload.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>com.krawler.esp.servlets.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/fdownload.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoteAPI</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:config/RemoteAPI-servlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoteAPI</servlet-name>
        <url-pattern>/deskeraAccountingAPI.jsp</url-pattern>
        <url-pattern>/remoteapi.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.spring.container.servlet.SpringServlet
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.krawler.spring.accounting.ws.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.krawler.common.filters.RestServiceFilter</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
   <!-- <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>com.krawler.spring.accounting.handler.StartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet> -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <distributable/>
    
</web-app>
